<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movieCore.brd.mapperInterface.BrdArticleMapper">


    <!-- 게시글 빈 -->
    <resultMap type="com.example.movieCore.brd.bean.BrdArticleBean" id="articleBean">
        <id column="ATCL_ID" property="atclId" jdbcType="VARCHAR"/>
        <result column="BRD_ID" property="brdId" jdbcType="VARCHAR"/>
        <result column="MEM_ID" property="memId" jdbcType="VARCHAR"/>
        <result column="SUBJECT" property="subject" jdbcType="VARCHAR"/>
        <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
        <result column="VIEW_CNT" property="viewCnt" jdbcType="INTEGER"/>
        <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP"/>
        <result column="EXPIRE_DT" property="expireDt" jdbcType="TIMESTAMP"/>
        <result column="EXPIRE_YN" property="expireYn" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="ATCL_REPL_CNT" property="atclReplCnt" jdbcType="VARCHAR"/>

        <result column="MEM_NAME" property="memName" jdbcType="VARCHAR"/>

        <!-- 해당 폴더에 속한 게시판들을 담을 리스트 -->
        <collection property="folderBeanList" ofType="com.example.movieCore.brd.bean.BrdFolderBean" resultMap="folderBean"/>
    </resultMap>

    <!-- 게시판 빈 -->
    <resultMap type="com.example.movieCore.brd.bean.BrdBoardBean" id="boardBean">
        <id column="BRD_ID" property="brdId" jdbcType="VARCHAR" />
        <result column="FOL_ID" property="folId" jdbcType="VARCHAR"/>
        <result column="BRD_NAME" property="brdName" jdbcType="VARCHAR"/>
        <result column="BRD_COMMENT" property="brdComment" jdbcType="VARCHAR" />
        <result column="MEM_ID" property="memId" jdbcType="VARCHAR" />
        <result column="STATE" property="state" jdbcType="VARCHAR" />
        <result column="ODR" property="odr" jdbcType="INTEGER" />
        <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
        <result column="NOTICE_YN" property="noticeYn" jdbcType="VARCHAR" />
        <result column="IMG_UPLOAD_YN" property="imgUploadYn" jdbcType="VARCHAR" />
        <result column="FILE_LIMIT" property="fileLimit" jdbcType="VARCHAR" />
        <result column="FILE_CNT_LIMIT" property="fileCntLimit" jdbcType="VARCHAR" />
        <result column="REPL_YN" property="replYn" jdbcType="VARCHAR" />

    </resultMap>

    <!-- 폴더 빈 -->
    <resultMap type="com.example.movieCore.brd.bean.BrdFolderBean" id="folderBean">
        <id column="FOL_ID" property="folId" jdbcType="VARCHAR" />
        <result column="MEM_ID" property="memId" jdbcType="VARCHAR"/>
        <result column="FOL_NAME" property="folName" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR" />
        <result column="ODR" property="odr" jdbcType="INTEGER"/>
        <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP"/>

        <!-- 해당 폴더에 속한 게시판들을 담을 리스트 -->
        <collection property="boardBeanList" ofType="com.example.movieCore.brd.bean.BrdBoardBean" resultMap="boardBean"/>

    </resultMap>




    <!-- 관리자 게시글 빈 -->
    <resultMap type="com.example.movieCore.brd.bean.BrdArticleBean" id="articleBeanAdmin">
        <id column="ATCL_ID" property="atclId" jdbcType="VARCHAR"/>
        <result column="BRD_ID" property="brdId" jdbcType="VARCHAR"/>
        <result column="BRD_NAME" property="brdName" jdbcType="VARCHAR"/>
        <result column="MEM_ID" property="memId" jdbcType="VARCHAR"/>
        <result column="SUBJECT" property="subject" jdbcType="VARCHAR"/>
        <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
        <result column="VIEW_CNT" property="viewCnt" jdbcType="INTEGER"/>
        <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP"/>
        <result column="EXPIRE_DT" property="expireDt" jdbcType="TIMESTAMP"/>
        <result column="EXPIRE_YN" property="expireYn" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="ATCL_REPL_CNT" property="atclReplCnt" jdbcType="VARCHAR"/>
        <result column="MEM_NAME" property="memName" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 관리자 게시글 - 댓글 빈 -->
    <resultMap type="com.example.movieCore.brd.bean.BrdReplyBean" id="replyBean">
        <id column="REPL_ID" property="replId" jdbcType="INTEGER" />
        <result column="ATCL_ID" property="atclId" jdbcType="INTEGER" />
        <result column="CONTENT" property="content" jdbcType="VARCHAR" />
        <result column="MEM_ID" property="memId" jdbcType="VARCHAR" />
        <result column="MEM_NAME" property="memName" jdbcType="VARCHAR" />
        <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
        <result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
        <result column="STATE" property="state" jdbcType="VARCHAR" />
    </resultMap>



    <!-- 게시글 작성 -->
    <insert id="atclRegistry" parameterType="com.example.movieCore.brd.vo.BrdVo" >
        insert into
            BRD_ARTICLE
            (
                ATCL_ID,
                BRD_ID,
                MEM_ID,
                SUBJECT,
                CONTENT,
                VIEW_CNT,
                CREATE_DT,
                UPDATE_DT,
                EXPIRE_DT,
                EXPIRE_YN,
                STATE,
                ATCL_REPL_CNT
             )
        VALUES
            (
                #{articleBean.atclId},
                #{articleBean.brdId},
                #{articleBean.memId},
                #{articleBean.subject},
                #{articleBean.content},
                #{articleBean.viewCnt},
                #{articleBean.createDt},
                #{articleBean.updateDt},
                #{articleBean.expireDt},
                #{articleBean.expireYn},
                #{articleBean.state},
                #{articleBean.atclReplCnt}
            )

    </insert>


    <select id="selectArticleList" parameterType="com.example.movieCore.brd.vo.BrdVo" resultMap="articleBean" >

        SELECT
            BA.ATCL_ID,
            BA.BRD_ID,
            MMI.MEM_NAME,
            BA.SUBJECT,
            BA.CONTENT,
            BA.VIEW_CNT,
            BA.CREATE_DT,
            BA.UPDATE_DT,
            BA.EXPIRE_DT,
            BA.EXPIRE_YN,
            BA.STATE,
            BA.ATCL_REPL_CNT
        FROM
            BRD_ARTICLE BA

        LEFT JOIN MEM_MEMBER_INFO MMI
        ON BA.MEM_ID = MMI.MEM_ID

        WHERE
            BA.STATE = 'B'
        AND
            BA.BRD_ID = #{boardBean.brdId}
        AND
            BA.EXPIRE_YN = 'N'
        <choose>
            <when test="boardBean.schSelect == 'subject'">
                AND BA.SUBJECT LIKE CONCAT('%', #{boardBean.schText}, '%')
            </when>
            <when test="boardBean.schSelect == 'content'">
                AND BA.CONTENT LIKE CONCAT('%', #{boardBean.schText}, '%')
            </when>
            <when test="boardBean.schSelect == 'memName'">
                AND MMI.MEM_NAME LIKE CONCAT('%', #{boardBean.schText}, '%')
            </when>
            <otherwise>
                AND (
                BA.SUBJECT LIKE CONCAT('%', #{boardBean.schText}, '%')
                OR BA.CONTENT LIKE CONCAT('%', #{boardBean.schText}, '%')
                OR MMI.MEM_NAME LIKE CONCAT('%', #{boardBean.schText}, '%')
                )
            </otherwise>
        </choose>
        <choose>
        <when test="boardBean.sortKey != null and boardBean.sortOdr != null">
            ORDER BY
            <choose>
                <when test="boardBean.sortKey == 'subject'">
                    BA.SUBJECT
                </when>
                <when test="boardBean.sortKey == 'memName'">
                    MMI.MEM_NAME
                </when>
                <when test="boardBean.sortKey == 'createDt'">
                    BA.CREATE_DT
                </when>
                <when test="boardBean.sortKey == 'viewCnt'">
                    BA.VIEW_CNT
                </when>
                <otherwise>
                    BA.CREATE_DT
                </otherwise>
            </choose>
            <if test="boardBean.sortOdr == 'asc'">
                ASC
            </if>
            <if test="boardBean.sortOdr == 'desc'">
                DESC
            </if>
        </when>
        <otherwise>
            ORDER BY BA.CREATE_DT DESC
        </otherwise>
        </choose>

        LIMIT #{paging.startIndex}, #{paging.itemsPerPage}

    </select>

    <select id="searchArticle" parameterType="com.example.movieCore.brd.vo.BrdVo" resultMap="articleBean" >

        SELECT
            BA.ATCL_ID,
            BA.BRD_ID,
            MMI.MEM_NAME,
            BA.SUBJECT,
            BA.CONTENT,
            BA.VIEW_CNT,
            BA.CREATE_DT,
            BA.UPDATE_DT,
            BA.EXPIRE_DT,
            BA.EXPIRE_YN,
            BA.STATE,
            BA.ATCL_REPL_CNT
        FROM
            BRD_ARTICLE BA

        LEFT JOIN MEM_MEMBER_INFO MMI
        ON BA.MEM_ID = MMI.MEM_ID

        WHERE
            BA.STATE = 'B'
        AND
            BA.BRD_ID = #{boardBean.brdId}
        <choose>
            <when test="boardBean.schSelect == 'subject'">
                AND BA.SUBJECT LIKE CONCAT('%', #{boardBean.schText}, '%')
            </when>
            <when test="boardBean.schSelect == 'content'">
                AND BA.CONTENT LIKE CONCAT('%', #{boardBean.schText}, '%')
            </when>
            <when test="boardBean.schSelect == 'memName'">
                AND MMI.MEM_NAME LIKE CONCAT('%', #{boardBean.schText}, '%')
            </when>
            <otherwise>
                AND (
                BA.SUBJECT LIKE CONCAT('%', #{boardBean.schText}, '%')
                OR BA.CONTENT LIKE CONCAT('%', #{boardBean.schText}, '%')
                OR MMI.MEM_NAME LIKE CONCAT('%', #{boardBean.schText}, '%')
                )
            </otherwise>
        </choose>

    </select>
    <select id="selectArticleDetail" parameterType="com.example.movieCore.brd.vo.BrdVo" resultMap="articleBean">
        SELECT
            BA.ATCL_ID,
            BA.BRD_ID,
            MMI.MEM_NAME,
            BA.SUBJECT,
            BA.CONTENT,
            BA.VIEW_CNT,
            BA.CREATE_DT,
            BA.UPDATE_DT,
            BA.EXPIRE_DT,
            BA.EXPIRE_YN,
            BA.STATE,
            BA.ATCL_REPL_CNT,

            BF.FOL_ID,
            BF.MEM_ID,
            BF.FOL_NAME,
            BF.STATE,
            BF.ODR,
            BF.CREATE_DT,

            BB.BRD_ID,
            BB.FOL_ID,
            BB.BRD_NAME,
            BB.BRD_COMMENT,
            BB.MEM_ID,
            BB.STATE,
            BB.ODR,
            BB.CREATE_DT,
            BB.NOTICE_YN,
            BB.IMG_UPLOAD_YN,
            BB.FILE_LIMIT,
            BB.FILE_CNT_LIMIT,
            BB.REPL_YN
        FROM
            BRD_ARTICLE BA

        LEFT JOIN BRD_BOARD BB
        ON BA.BRD_ID = BB.BRD_ID
        LEFT JOIN BRD_FOLDER BF
        ON BB.FOL_ID = BF.FOL_ID
        LEFT JOIN MEM_MEMBER_INFO MMI
        ON BA.MEM_ID = MMI.MEM_ID

        WHERE
            BA.STATE = 'B'
          AND
            BA.ATCL_ID = #{articleBean.atclId}

    </select>

    <select id="selectBoardList" parameterType="com.example.movieCore.brd.vo.BrdVo" resultMap="boardBean">
        SELECT
            BB.BRD_ID,
            BB.FOL_ID,
            BB.BRD_NAME,
            BB.BRD_COMMENT,
            BB.MEM_ID,
            BB.STATE,
            BB.ODR,
            BB.CREATE_DT,
            BB.NOTICE_YN,
            BB.IMG_UPLOAD_YN,
            BB.FILE_LIMIT,
            BB.FILE_CNT_LIMIT,
            BB.REPL_YN
        FROM
            BRD_BOARD BB
        WHERE
            BB.STATE = 'B'
          AND
            BB.FOL_ID = #{boardBean.folId}

    </select>

    <select id="selectArticleListTotalCnt" parameterType="com.example.movieCore.brd.vo.BrdVo" resultType="java.lang.Integer">
        SELECT
        COUNT(BA.ATCL_ID) totalCnt
        FROM
        BRD_ARTICLE BA

        WHERE
            BA.STATE = 'B'
        AND
            BA.BRD_ID = #{boardBean.brdId}
        AND
            BA.EXPIRE_YN = 'N'
        <choose>
            <when test="boardBean.schSelect == 'subject'">
                AND BA.SUBJECT LIKE CONCAT('%', #{boardBean.schText}, '%')
            </when>
            <when test="boardBean.schSelect == 'content'">
                AND BA.CONTENT LIKE CONCAT('%', #{boardBean.schText}, '%')
            </when>
            <when test="boardBean.schSelect == 'memName'">
                AND BA.MEM_ID LIKE CONCAT('%', #{boardBean.schText}, '%')
            </when>
            <otherwise>
                AND (
                BA.SUBJECT LIKE CONCAT('%', #{boardBean.schText}, '%')
                OR BA.CONTENT LIKE CONCAT('%', #{boardBean.schText}, '%')
                OR BA.MEM_ID LIKE CONCAT('%', #{boardBean.schText}, '%')
                )
            </otherwise>
        </choose>

    </select>


    <update id="deleteArticle" parameterType="com.example.movieCore.brd.vo.BrdVo"  >
        UPDATE
            BRD_ARTICLE
        SET
            STATE = 'D'

        WHERE
            ATCL_ID = #{articleBean.atclId}

    </update>


    <!-- 게시글 첨부파일 인서트 -->
    <insert id="insertFileBean" parameterType="com.example.movieCore.brd.vo.BrdVo"  >
        INSERT INTO
            CMM_FILE (
                      FILE_ID,
                      MODULE,
                      FILE_NAME,
                      LOCAL_NAME,
                      FILE_EXT,
                      URL,
                      VOLUME,
                      CREATE_DT,
                      SRC
        )
        VALUES
            (
             #{fileBean.fileId},
             #{fileBean.module},
             #{fileBean.fileName},
             #{fileBean.localName},
             #{fileBean.fileExt},
             #{fileBean.url},
             #{fileBean.volume},
             #{fileBean.createDt},
             #{fileBean.src}
             )

    </insert>


    <!-- 게시글 <-> 첨부파일 매핑 인서트 -->
    <insert id="insertArticleFileMap" parameterType="com.example.movieCore.brd.vo.BrdVo"  >
        INSERT INTO
            BRD_FILE_MAPPING (
                      ATCL_ID,
                      FILE_ID
                      )
        VALUES
            (
             #{articleBean.atclId},
             #{fileBean.fileId}
             )

    </insert>


    <!-- 관리자 - 게시글 갯수 조회 -->
    <select id="selectArticleListTotalCntAdmin" parameterType="com.example.movieCore.brd.vo.BrdVo" resultType="java.lang.Integer">
        SELECT
        COUNT(BA.ATCL_ID) AS totalCnt
        FROM
        BRD_ARTICLE BA
        LEFT JOIN MEM_MEMBER_INFO MMI ON BA.MEM_ID = MMI.MEM_ID
        LEFT JOIN BRD_BOARD BB ON BA.BRD_ID = BB.BRD_ID
        WHERE
        1=1
        <choose>
            <when test="searchBean != null and searchBean.searchFilter == 'subject' and searchBean.searchText != null and searchBean.searchText != ''">
                AND BA.SUBJECT LIKE CONCAT('%', #{searchBean.searchText}, '%')
            </when>
            <when test="searchBean != null and searchBean.searchFilter == 'atcl_id' and searchBean.searchText != null and searchBean.searchText != ''">
                AND BA.ATCL_ID LIKE CONCAT('%', #{searchBean.searchText}, '%')
            </when>
            <when test="searchBean != null and searchBean.searchFilter == 'mem_name' and searchBean.searchText != null and searchBean.searchText != ''">
                AND MMI.MEM_NAME LIKE CONCAT('%', #{searchBean.searchText}, '%')
            </when>
            <when test="searchBean != null and searchBean.searchFilter == 'brd_name' and searchBean.searchText != null and searchBean.searchText != ''">
                AND BB.BRD_NAME LIKE CONCAT('%', #{searchBean.searchText}, '%')
            </when>
            <otherwise>
                <if test="searchBean != null and searchBean.searchText != null and searchBean.searchText != ''">
                    AND (
                    BA.SUBJECT LIKE CONCAT('%', #{searchBean.searchText}, '%')
                    OR BA.CONTENT LIKE CONCAT('%', #{searchBean.searchText}, '%')
                    OR MMI.MEM_NAME LIKE CONCAT('%', #{searchBean.searchText}, '%')
                    OR BB.BRD_NAME LIKE CONCAT('%', #{searchBean.searchText}, '%')
                    )
                </if>
            </otherwise>
        </choose>
    </select>

    <!-- 관리자 - 게시글 리스트 조회 -->
    <select id="selectArticleListAdmin" parameterType="com.example.movieCore.brd.vo.BrdVo" resultMap="articleBeanAdmin">
        SELECT
        BA.ATCL_ID,
        BA.BRD_ID,
        BB.BRD_NAME,
        MMI.MEM_NAME,
        BA.SUBJECT,
        BA.CONTENT,
        BA.CREATE_DT,
        BA.UPDATE_DT,
        BA.EXPIRE_DT,
        BA.EXPIRE_YN,
        BA.STATE
        FROM
        BRD_ARTICLE BA
        LEFT JOIN MEM_MEMBER_INFO MMI ON BA.MEM_ID = MMI.MEM_ID
        LEFT JOIN BRD_BOARD BB ON BA.BRD_ID = BB.BRD_ID
        WHERE
        1=1
        <choose>
            <when test="searchBean != null and searchBean.searchFilter == 'subject' and searchBean.searchText != null and searchBean.searchText != ''">
                AND BA.SUBJECT LIKE CONCAT('%', #{searchBean.searchText}, '%')
            </when>
            <when test="searchBean != null and searchBean.searchFilter == 'atcl_id' and searchBean.searchText != null and searchBean.searchText != ''">
                AND BA.ATCL_ID LIKE CONCAT('%', #{searchBean.searchText}, '%')
            </when>
            <when test="searchBean != null and searchBean.searchFilter == 'mem_name' and searchBean.searchText != null and searchBean.searchText != ''">
                AND MMI.MEM_NAME LIKE CONCAT('%', #{searchBean.searchText}, '%')
            </when>
            <when test="searchBean != null and searchBean.searchFilter == 'brd_name' and searchBean.searchText != null and searchBean.searchText != ''">
                AND BB.BRD_NAME LIKE CONCAT('%', #{searchBean.searchText}, '%')
            </when>
            <otherwise>
                <if test="searchBean != null and searchBean.searchText != null and searchBean.searchText != ''">
                    AND (
                    BA.SUBJECT LIKE CONCAT('%', #{searchBean.searchText}, '%')
                    OR BA.CONTENT LIKE CONCAT('%', #{searchBean.searchText}, '%')
                    OR MMI.MEM_NAME LIKE CONCAT('%', #{searchBean.searchText}, '%')
                    OR BB.BRD_NAME LIKE CONCAT('%', #{searchBean.searchText}, '%')
                    )
                </if>
            </otherwise>
        </choose>
        <choose>
            <when test="searchBean != null and searchBean.sortKey != null and searchBean.sortKey != '' and searchBean.sortOdr != null and searchBean.sortOdr != ''">
                ORDER BY
                <choose>
                    <when test="searchBean.sortKey == 'atcl_id'">
                        BA.atcl_id
                    </when>
                    <when test="searchBean.sortKey == 'brd_name'">
                        BB.brd_name
                    </when>
                    <when test="searchBean.sortKey == 'subject'">
                        BA.SUBJECT
                    </when>
                    <when test="searchBean.sortKey == 'content'">
                        BA.content
                    </when>
                    <when test="searchBean.sortKey == 'mem_name'">
                        MMI.MEM_NAME
                    </when>
                    <when test="searchBean.sortKey == 'create_dt'">
                        BA.CREATE_DT
                    </when>
                    <when test="searchBean.sortKey == 'expire_yn'">
                        BA.expire_yn
                    </when>
                    <when test="searchBean.sortKey == 'state'">
                        BA.state
                    </when>
                    <otherwise>
                        BA.CREATE_DT
                    </otherwise>
                </choose>
                <if test="searchBean.sortOdr == 'asc'">
                    ASC
                </if>
                <if test="searchBean.sortOdr == 'desc'">
                    DESC
                </if>
            </when>
            <otherwise>
                ORDER BY BA.CREATE_DT DESC
            </otherwise>
        </choose>
        LIMIT #{paging.startIndex}, #{paging.itemsPerPage}
    </select>



    <!-- 게시글 상태 변경 -->
    <update id="updateArticleStateAdmin" parameterType="com.example.movieCore.brd.vo.BrdVo"  >
        UPDATE
            BRD_ARTICLE
        SET
            STATE = #{mode}
        WHERE atcl_id IN
        <foreach item="article" collection="articleBeanList" open="(" separator="," close=")">
            #{article.atclId}
        </foreach>
    </update>


    <!-- 게시글 정보 변경 -->
    <update id="updateArticleAdmin" parameterType="com.example.movieCore.brd.vo.BrdVo">
        UPDATE
            BRD_ARTICLE
        SET
            BRD_ID = #{articleBean.brdId},
            SUBJECT = #{articleBean.subject},
            CONTENT = #{articleBean.content},
            UPDATE_DT = #{articleBean.updateDt},
            EXPIRE_DT = #{articleBean.expireDt},
            EXPIRE_YN = #{articleBean.expireYn},
            STATE = #{articleBean.state}
        WHERE
            ATCL_ID = #{articleBean.atclId}
    </update>


    <!-- 게시글의 댓글 리스트 조회 -->
    <select id="selectReplyListAdmin" parameterType="com.example.movieCore.brd.vo.BrdVo" resultMap="replyBean">
        SELECT
            REPL_ID,
            ATCL_ID,
            CONTENT,
            MEM_ID,
            MEM_NAME,
            CREATE_DT,
            UPDATE_DT,
            STATE
        FROM BRD_REPLY
        WHERE ATCL_ID = #{articleBean.atclId}
    </select>



















</mapper>