<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movieCore.brd.mapperInterface.BrdBoardMapper">

    <!-- 폴더 빈 -->
    <resultMap type="com.example.movieCore.brd.bean.BrdFolderBean" id="folderBean">
        <id column="FOL_ID" property="folId" jdbcType="VARCHAR" />
        <result column="MEM_ID" property="memId" jdbcType="VARCHAR"/>
        <result column="FOL_NAME" property="folName" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR" />
        <result column="ODR" property="odr" jdbcType="INTEGER"/>
        <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP"/>

        <!-- 해당 폴더에 속한 게시판들을 담을 리스트 -->
        <collection property="boardBeanList" ofType="com.example.movieCore.brd.bean.BrdBoardBean" resultMap="boardBean"/>

    </resultMap>

    <!-- 게시판 빈 -->
    <resultMap type="com.example.movieCore.brd.bean.BrdBoardBean" id="boardBean">
        <id column="BRD_ID" property="brdId" jdbcType="VARCHAR" />
        <result column="FOL_ID" property="folId" jdbcType="VARCHAR"/>
        <result column="BRD_NAME" property="brdName" jdbcType="VARCHAR"/>
        <result column="BRD_COMMENT" property="brdComment" jdbcType="VARCHAR" />
        <result column="MEM_ID" property="memId" jdbcType="VARCHAR" />
        <result column="STATE" property="state" jdbcType="VARCHAR" />
        <result column="ODR" property="odr" jdbcType="INTEGER" />
        <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
        <result column="NOTICE_YN" property="noticeYn" jdbcType="VARCHAR" />
        <result column="IMG_UPLOAD_YN" property="imgUploadYn" jdbcType="VARCHAR" />
        <result column="FILE_LIMIT" property="fileLimit" jdbcType="VARCHAR" />
        <result column="FILE_CNT_LIMIT" property="fileCntLimit" jdbcType="VARCHAR" />
        <result column="REPL_YN" property="replYn" jdbcType="VARCHAR" />
        <result column="FOL_NAME" property="folName" jdbcType="VARCHAR" />
        <result column="ATCL_CNT" property="atclCnt" jdbcType="VARCHAR" />

    </resultMap>


    <!-- 관리자 - 게시판관리 - 폴더 빈 -->
    <resultMap type="com.example.movieCore.brd.bean.BrdFolderBean" id="folderBoardListAdmin">
        <id column="FOL_ID" property="folId" jdbcType="VARCHAR" />
        <result column="FOL_MEM_ID" property="memId" jdbcType="VARCHAR"/>
        <result column="FOL_MEM_NAME" property="memName" jdbcType="VARCHAR"/>
        <result column="FOL_NAME" property="folName" jdbcType="VARCHAR"/>
        <result column="FOL_STATE" property="state" jdbcType="VARCHAR" />
        <result column="FOL_ODR" property="odr" jdbcType="INTEGER"/>
        <result column="FOL_CREATE_DT" property="createDt" jdbcType="TIMESTAMP"/>
        <collection property="boardBeanList" ofType="com.example.movieCore.brd.bean.BrdBoardBean" resultMap="boardBeanAdmin"/>
    </resultMap>

    <!-- 관리자 - 게시판관리 - 게시판 빈 -->
    <resultMap type="com.example.movieCore.brd.bean.BrdBoardBean" id="boardBeanAdmin">
        <id column="BRD_ID" property="brdId" jdbcType="VARCHAR" />
        <result column="BOARD_MEM_ID" property="memId" jdbcType="VARCHAR"/>
        <result column="BOARD_MEM_NAME" property="memName" jdbcType="VARCHAR"/>
        <result column="BOARD_FOL_ID" property="folId" jdbcType="VARCHAR"/>
        <result column="BRD_NAME" property="brdName" jdbcType="VARCHAR"/>
        <result column="BRD_COMMENT" property="brdComment" jdbcType="VARCHAR" />
        <result column="BOARD_MEM_ID" property="memId" jdbcType="VARCHAR" />
        <result column="BRD_STATE" property="state" jdbcType="VARCHAR" />
        <result column="BRD_ODR" property="odr" jdbcType="INTEGER" />
        <result column="BRD_CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
        <result column="NOTICE_YN" property="noticeYn" jdbcType="VARCHAR" />
        <result column="IMG_UPLOAD_YN" property="imgUploadYn" jdbcType="VARCHAR" />
        <result column="FILE_LIMIT" property="fileLimit" jdbcType="VARCHAR" />
        <result column="FILE_CNT_LIMIT" property="fileCntLimit" jdbcType="VARCHAR" />
        <result column="REPL_YN" property="replYn" jdbcType="VARCHAR" />
        <result column="ATCL_CNT" property="atclCnt" jdbcType="VARCHAR" />
        <association property="fileBean" javaType="com.example.movieCore.cmm.FileBean">
            <id column="FILE_ID" property="fileId" jdbcType="VARCHAR" />
            <result column="MODULE" property="module" jdbcType="VARCHAR" />
            <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
            <result column="LOCAL_NAME" property="localName" jdbcType="VARCHAR" />
            <result column="FILE_EXT" property="fileExt" jdbcType="VARCHAR" />
            <result column="URL" property="url" jdbcType="VARCHAR" />
            <result column="VOLUME" property="volume" jdbcType="VARCHAR" />
            <result column="FILE_CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
            <result column="SRC" property="src" jdbcType="VARCHAR" />
        </association>
    </resultMap>






    <!-- 모든 폴더/게시판 리스트 조회 -->
    <select id="selectAllFolderBoardList" resultMap="folderBean">
        SELECT
            bf.FOL_ID,
            bf.MEM_ID,
            bf.FOL_NAME,
            bf.STATE,
            bf.ODR,
            bf.CREATE_DT,
            bb.BRD_ID,
            bb.FOL_ID,
            bb.BRD_NAME,
            bb.BRD_COMMENT,
            bb.MEM_ID,
            bb.STATE,
            bb.ODR,
            bb.CREATE_DT,
            bb.NOTICE_YN,
            bb.IMG_UPLOAD_YN,
            bb.FILE_LIMIT,
            bb.FILE_CNT_LIMIT,
            bb.REPL_YN
        FROM
            BRD_FOLDER bf
                LEFT JOIN
            BRD_BOARD bb ON bf.FOL_ID = bb.FOL_ID
        where
            bf.state != 'D'
        and
            bb.state != 'D'
        order by bf.odr asc, bb.odr asc

    </select>








    <!-- 게시판 생성 -->
    <insert id="createBoard" parameterType="com.example.movieCore.brd.vo.BrdVo" >
        insert into BRD_BOARD(
            BRD_ID,
            FOL_ID,
            BRD_NAME,
            BRD_COMMENT,
            MEM_ID,
            STATE,
            ODR,
            CREATE_DT,
            NOTICE_YN,
            IMG_UPLOAD_YN,
            FILE_LIMIT,
            FILE_CNT_LIMIT,
            REPL_YN
        )
        values(
            #{boardBean.brdId},
            #{boardBean.folId},
            #{boardBean.brdName},
            #{boardBean.brdComment},
            #{boardBean.memId},
            #{boardBean.state},
            #{boardBean.odr},
            #{boardBean.createDt},
            #{boardBean.noticeYn},
            #{boardBean.imgUploadYn},
            #{boardBean.fileLimit},
            #{boardBean.fileCntLimit},
            #{boardBean.replYn}
        )

    </insert>




    <!-- 모든 게시판 리스트 조회 -->
    <select id="selectAllBoardList" resultMap="boardBean">
        SELECT
            BRD_ID,
            FOL_ID,
            BRD_NAME,
            BRD_COMMENT,
            MEM_ID,
            STATE,
            ODR,
            CREATE_DT,
            NOTICE_YN,
            IMG_UPLOAD_YN,
            FILE_LIMIT,
            FILE_CNT_LIMIT,
            REPL_YN
        FROM
            BRD_BOARD
        WHERE
            STATE = 'B'
    </select>

    <!-- 관리자모듈- 게시판 갯수 조회 -->
    <select id="selectBoardListAdminTotalCnt" parameterType="com.example.movieCore.brd.vo.BrdVo" resultType="java.lang.Integer">
        SELECT
            COUNT(BB.BRD_ID) totalCnt
        FROM
            BRD_BOARD BB

    </select>





    <!-- 관리자모듈- 폴더별 게시판 리스트 조회 -->
    <select id="selectBoardListAdmin0" resultMap="folderBean">
        SELECT
            bf.FOL_ID,
            bf.MEM_ID,
            bf.FOL_NAME,
            bf.STATE,
            bf.ODR,
            bf.CREATE_DT,
            bb.BRD_ID,
            bb.FOL_ID,
            bb.BRD_NAME,
            bb.BRD_COMMENT,
            bb.MEM_ID,
            bb.STATE,
            bb.ODR,
            bb.CREATE_DT,
            bb.NOTICE_YN,
            bb.IMG_UPLOAD_YN,
            bb.FILE_LIMIT,
            bb.FILE_CNT_LIMIT,
            bb.REPL_YN
        FROM
            BRD_FOLDER bf
                LEFT JOIN
            BRD_BOARD bb ON bf.FOL_ID = bb.FOL_ID
        where
            bf.state != 'D'
        order by bf.odr asc, bb.odr asc

    </select>



    <!-- 관리자모듈- 폴더별 게시판 리스트 조회 -->
    <!-- 관리자모듈- 폴더별 게시판 리스트 조회 -->
    <select id="selectBoardListAdmin" parameterType="com.example.movieCore.brd.vo.BrdVo" resultMap="folderBoardListAdmin">
        SELECT
        BB.BRD_ID,
        BB.FOL_ID AS BOARD_FOL_ID,
        BB.BRD_NAME,
        BB.BRD_COMMENT,
        BB.MEM_ID AS BOARD_MEM_ID,
        MMI.MEM_NAME AS BOARD_MEM_NAME,
        BB.STATE AS BRD_STATE,
        BB.ODR AS BRD_ODR,
        BB.CREATE_DT AS BRD_CREATE_DT,
        BB.NOTICE_YN,
        IMG_UPLOAD_YN,
        BB.FILE_LIMIT,
        BB.FILE_CNT_LIMIT,
        BB.REPL_YN,
        (SELECT COUNT(*) FROM BRD_ARTICLE BA WHERE BA.BRD_ID = BB.BRD_ID) AS ATCL_CNT,
        BF.FOL_ID,
        BF.MEM_ID,
        BF.FOL_NAME,
        BF.STATE AS FOL_STATE,
        BF.ODR AS FOL_ODR,
        BF.CREATE_DT AS FOL_CREATE_DT,
        MMI.MEM_NAME AS FOL_MEM_NAME,
        CF.FILE_ID AS FILE_ID,
        CF.MODULE AS MODULE,
        CF.FILE_NAME AS FILE_NAME,
        CF.LOCAL_NAME AS LOCAL_NAME,
        CF.FILE_EXT AS FILE_EXT,
        CF.URL AS URL,
        CF.VOLUME AS VOLUME,
        CF.CREATE_DT AS FILE_CREATE_DT,
        CF.SRC AS SRC
        FROM
        BRD_BOARD BB
        LEFT JOIN BRD_FOLDER BF ON BB.FOL_ID = BF.FOL_ID
        LEFT JOIN MEM_MEMBER_INFO MMI ON BB.MEM_ID = MMI.MEM_ID
        LEFT JOIN BRD_BOARD_BANNER_MAP BMB ON BB.BRD_ID = BMB.BRD_ID
        LEFT JOIN CMM_FILE CF ON BMB.FILE_ID = CF.FILE_ID
        AND CF.CREATE_DT = (
        SELECT MAX(CREATE_DT)
        FROM CMM_FILE CF2
        WHERE CF2.FILE_ID = CF.FILE_ID
        )
        WHERE
        1=1
        <if test="searchBean.searchFilter != null and searchBean.searchFilter != '' and searchBean.searchText != null and searchBean.searchText != ''">
            <choose>
                <when test="searchBean.searchFilter == 'mem_name'">
                    AND MMI.MEM_NAME LIKE CONCAT('%', #{searchBean.searchText}, '%')
                </when>
                <when test="searchBean.searchFilter == 'fol_name'">
                    AND BF.FOL_NAME LIKE CONCAT('%', #{searchBean.searchText}, '%')
                </when>
                <otherwise>
                    AND ${searchBean.searchFilter} LIKE CONCAT('%', #{searchBean.searchText}, '%')
                </otherwise>
            </choose>
        </if>
        <choose>
            <when test="searchBean.sortKey != null and searchBean.sortKey != ''">
                ORDER BY ${searchBean.sortKey} ${searchBean.sortOdr}, BB.ODR ASC
            </when>
            <otherwise>
                ORDER BY BF.ODR ASC, BB.ODR ASC
            </otherwise>
        </choose>
    </select>







    <!-- 게시판 상태 변경 (삭제/ 원복) -->
    <update id="updateBoardStateAdmin" parameterType="com.example.movieCore.brd.vo.BrdVo" >
        UPDATE BRD_BOARD
        SET STATE = #{mode}
        WHERE brd_id IN
        <foreach item="board" collection="boardBeanList" open="(" separator="," close=")">
            #{board.brdId}
        </foreach>
    </update>


    <!-- 게시판 순서 및 폴더 업데이트 -->
    <update id="updateBoardOrderAndFolderAdmin" parameterType="com.example.movieCore.brd.bean.BrdBoardBean">
        UPDATE BRD_BOARD
        SET ODR = #{odr},
            FOL_ID = #{folId}
        WHERE BRD_ID = #{brdId}
    </update>




    <!-- 게시판 정보 업데이트 -->
    <update id="updateBoard" parameterType="com.example.movieCore.brd.vo.BrdVo" >
        UPDATE BRD_BOARD
        SET
            FOL_ID = #{boardBean.folId},
            BRD_NAME = #{boardBean.brdName},
            BRD_COMMENT = #{boardBean.brdComment},
            STATE = #{boardBean.state},
            NOTICE_YN = #{boardBean.noticeYn},
            IMG_UPLOAD_YN = #{boardBean.imgUploadYn},
            FILE_LIMIT = #{boardBean.fileLimit},
            FILE_CNT_LIMIT = #{boardBean.fileCntLimit},
            REPL_YN = #{boardBean.replYn}
        WHERE
            BRD_ID = #{boardBean.brdId}
    </update>


    <!-- 게시판 순서 odr 맥스값 조회 -->
    <select id="getMaxBoardOdr" resultType="int" parameterType="com.example.movieCore.brd.bean.BrdBoardBean">
        SELECT IFNULL(MAX(ODR), 0) AS maxOdr
        FROM BRD_BOARD
        WHERE
            FOL_ID = #{folId}
    </select>




    <!-- 게시판 배너 파일빈 인서트 -->
    <insert id="insertFileBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        INSERT INTO
            CMM_FILE (
            FILE_ID,
            MODULE,
            FILE_NAME,
            LOCAL_NAME,
            FILE_EXT,
            URL,
            VOLUME,
            CREATE_DT,
            src
        )
        VALUES
            (
                #{boardBean.fileBean.fileId},
                #{boardBean.fileBean.module},
                #{boardBean.fileBean.fileName},
                #{boardBean.fileBean.localName},
                #{boardBean.fileBean.fileExt},
                #{boardBean.fileBean.url},
                #{boardBean.fileBean.volume},
                #{boardBean.fileBean.createDt},
                #{boardBean.fileBean.src}
            )
    </insert>


    <!-- 게시판 배너 <-> 파일빈 매핑 인서트  -->
    <insert id="insertFileBeanMap" parameterType="com.example.movieCore.brd.vo.BrdVo"  >
        INSERT INTO BRD_BOARD_BANNER_MAP (
            BRD_ID,
            FILE_ID
        )
        VALUES (
                   #{boardBean.brdId},
                   #{boardBean.fileBean.fileId}
               )

    </insert>











</mapper>