<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movieCore.brd.mapperInterface.BrdFolderMapper">

    <!-- 폴더 빈 -->
    <resultMap type="com.example.movieCore.brd.bean.BrdFolderBean" id="folderBean">
        <id column="FOL_ID" property="folId" jdbcType="VARCHAR" />
        <result column="MEM_ID" property="memId" jdbcType="VARCHAR"/>
        <result column="FOL_NAME" property="folName" jdbcType="VARCHAR"/>
        <result column="FOL_LOC" property="folLoc" jdbcType="VARCHAR" />
        <result column="DEPTH" property="depth" jdbcType="INTEGER"/>
        <result column="STATE" property="state" jdbcType="VARCHAR" />
        <result column="ODR" property="odr" jdbcType="INTEGER"/>
        <result column="CREATE_DT" property="createDt" jdbcType="DATE"/>

    </resultMap>



    <insert id="createFolder" parameterType="com.example.movieCore.brd.vo.BrdVo" >

        insert into BRD_FOLDER (
            FOL_ID,
            MEM_ID,
            FOL_NAME,
            FOL_LOC,
            DEPTH,
            STATE,
            ODR,
            CREATE_DT
        )
        values (
                   #{folderBean.folId},
                   #{folderBean.memId},
                   #{folderBean.folName},
                   #{folderBean.folLoc},
                   #{folderBean.depth},
                   #{folderBean.state},
                   #{folderBean.odr},
                   DATE_FORMAT(#{folderBean.createDt}, '%Y-%m-%d %h:%m:%s')
               )

    </insert>




    <!-- 모든 폴더 리스트 조회 -->
    <select id="selectAllFolderList" resultMap="folderBean">
        SELECT
            bf.FOL_ID,
            bf.MEM_ID,
            bf.FOL_NAME,
            bf.FOL_LOC,
            bf.DEPTH,
            bf.STATE,
            bf.ODR,
            bf.CREATE_DT

        FROM
            BRD_FOLDER bf
        WHERE
            bf.state = 'B'
    </select>

    <!-- 관리자모듈- 폴더 리스트 조회 -->
    <select id="selectFolderListAdminTotalCnt" parameterType="com.example.movieCore.brd.vo.BrdVo" resultType="java.lang.Integer">
        SELECT
        COUNT(BF.FOL_ID) totalCnt
        FROM
        BRD_FOLDER BF

    </select>

    <select id="selectFolderListAdmin" parameterType="com.example.movieCore.brd.vo.BrdVo" resultMap="folderBean" >
        SELECT
        BF.FOL_ID,
        BF.MEM_ID,
        BF.FOL_NAME,
        BF.FOL_LOC,
        BF.DEPTH,
        CASE WHEN BF.STATE = 'D' THEN '삭제'
        ELSE '사용' END STATE,
        BF.ODR,
        BF.CREATE_DT
        FROM
        BRD_FOLDER BF

        LIMIT #{paging.startIndex}, #{paging.itemsPerPage}

    </select>


</mapper>