<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movieCore.brd.mapperInterface.BrdFolderMapper">

    <!-- 폴더 빈 -->
    <resultMap type="com.example.movieCore.brd.bean.BrdFolderBean" id="folderBean">
        <id column="FOL_ID" property="folId" jdbcType="VARCHAR" />
        <result column="MEM_ID" property="memId" jdbcType="VARCHAR"/>
        <result column="FOL_NAME" property="folName" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR" />
        <result column="ODR" property="odr" jdbcType="INTEGER"/>
        <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP"/>
        <result column="BOARD_CNT" property="boardCnt" jdbcType="VARCHAR" />

    </resultMap>



    <!-- 폴더 생성 -->
    <insert id="createFolder" parameterType="com.example.movieCore.brd.vo.BrdVo">
        insert into BRD_FOLDER (
            FOL_ID,
            MEM_ID,
            FOL_NAME,
            STATE,
            ODR,
            CREATE_DT
        )
        values (
                   #{folderBean.folId},
                   #{folderBean.memId},
                   #{folderBean.folName},
                   #{folderBean.state},
                   #{folderBean.odr},
                   #{folderBean.createDt}
               )
    </insert>






    <!-- 모든 폴더 리스트 조회 -->
    <select id="selectAllFolderList" resultMap="folderBean">
        SELECT
            bf.FOL_ID,
            bf.MEM_ID,
            bf.FOL_NAME,
            bf.STATE,
            bf.ODR,
            bf.CREATE_DT

        FROM
            BRD_FOLDER bf
        WHERE
            bf.state = 'B'
    </select>

    <!-- 관리자모듈- 폴더 갯수 조회 -->
    <select id="selectFolderListAdminTotalCnt" parameterType="com.example.movieCore.brd.vo.BrdVo" resultType="java.lang.Integer">
        SELECT
        COUNT(BF.FOL_ID) totalCnt
        FROM
        BRD_FOLDER BF

    </select>


    <!-- 관리자모듈- 폴더 리스트 조회 -->
    <select id="selectFolderListAdmin" parameterType="com.example.movieCore.brd.vo.BrdVo" resultMap="folderBean">
        SELECT
        BF.FOL_ID,
        BF.MEM_ID,
        BF.FOL_NAME,
        BF.STATE,
        BF.ODR,
        BF.CREATE_DT,
        (SELECT COUNT(*) FROM BRD_BOARD BB WHERE BB.FOL_ID = BF.FOL_ID) AS BOARD_CNT
        FROM
        BRD_FOLDER BF
        WHERE
        1=1
        <if test="searchBean.searchFilter != null and searchBean.searchFilter != '' and searchBean.searchText != null and searchBean.searchText != ''">
            AND ${searchBean.searchFilter} LIKE CONCAT('%', #{searchBean.searchText}, '%')
        </if>
        <choose>
            <when test="searchBean.sortKey != null and searchBean.sortKey == 'boardCnt'">
                ORDER BY (SELECT COUNT(*) FROM BRD_BOARD BB WHERE BB.FOL_ID = BF.FOL_ID) ${searchBean.sortOdr}, BF.ODR ASC
            </when>
            <otherwise>
                <if test="searchBean.sortKey != null and searchBean.sortKey != ''">
                    ORDER BY ${searchBean.sortKey} ${searchBean.sortOdr}, BF.ODR ASC
                </if>
                <if test="searchBean.sortKey == null or searchBean.sortKey == ''">
                    ORDER BY BF.ODR ASC
                </if>
            </otherwise>
        </choose>
        LIMIT #{paging.startIndex}, #{paging.itemsPerPage}
    </select>



    <!-- 폴더 상태 변경 (삭제/ 원복) -->
    <update id="updateFolderStateAdmin" parameterType="com.example.movieCore.brd.vo.BrdVo" >
        UPDATE BRD_FOLDER
        SET STATE = #{mode}
        WHERE FOL_ID IN
        <foreach item="folder" collection="folderBeanList" open="(" separator="," close=")">
            #{folder.folId}
        </foreach>
    </update>


    <!-- 폴더 순서 업데이트 -->
    <update id="updateFolderOrderAdmin" parameterType="com.example.movieCore.brd.bean.BrdFolderBean">
        UPDATE BRD_FOLDER
        SET ODR = #{odr}
        WHERE FOL_ID = #{folId}
    </update>



    <!-- 폴더 순서 odr 맥스값 조회 -->
    <select id="getMaxOdr" resultType="int">
        SELECT IFNULL(MAX(ODR), 0) AS maxOdr
        FROM BRD_FOLDER
    </select>


    <!-- 폴더명 변경 -->
    <update id="updateFolderName" parameterType="com.example.movieCore.brd.vo.BrdVo">
        UPDATE BRD_FOLDER
        SET FOL_NAME = #{boardBean.folName}
        WHERE FOL_ID = #{boardBean.folId}
    </update>






</mapper>