<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movieCore.login.mapperInterface.LoginMapper">

    <!-- 리절트맵 예시 -->
    <!--<resultMap type="project" id="projectResultMap">
        <id column="PNO" property="no" />
        <result column="PNAME" property="title" />
        <result column="CONTENT" property="content" />
        <result column="STA_DATE" property="startDate" javaType="java.sql.Date" />
        <result column="END_DATE" property="endDate" javaType="java.sql.Date" />
        <result column="STATE" property="state" />
        <result column="CRE_DATE" property="createdDate" javaType="java.sql.Date" />
        <result column="TAGS" property="tags" />
    </resultMap>-->



    <!-- 유저 정보 리절트맵 -->
    <resultMap type="com.example.movieCore.login.bean.LoginMemberBean" id="memberBeanResultMap">
        <result column="MEM_ID" property="memId" jdbcType="VARCHAR"/>
        <result column="LOGIN_ID" property="loginId" jdbcType="VARCHAR"/>
        <result column="LOGIN_PASSWORD" property="loginPassword" jdbcType="VARCHAR"/>
        <result column="MEM_NAME" property="memName" jdbcType="VARCHAR"/>
        <result column="GENDER" property="gender" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="AUTH" property="auth" jdbcType="VARCHAR"/>
        <result column="KAKAO_ID" property="kakaoId" jdbcType="VARCHAR"/>
        <result column="NAVER_ID" property="naverId" jdbcType="VARCHAR"/>
        <result column="MEM_CREATE_DATE" property="memCreateDate" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="ADDRESS_INFO" property="addressInfo" jdbcType="VARCHAR"/>
        <result column="MEM_ROLE" property="memRole" jdbcType="VARCHAR"/>
    </resultMap>



    <!-- 사용자 프로필 사진 빈 -->
    <resultMap type="com.example.movieCore.cmm.FileBean" id="memFileBean">
        <result column="FILE_ID" property="fileId" jdbcType="VARCHAR"/>
        <result column="MODULE" property="module" jdbcType="VARCHAR"/>
        <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR"/>
        <result column="LOCAL_NAME" property="localName" jdbcType="VARCHAR"/>
        <result column="FILE_EXT" property="fileExt" jdbcType="VARCHAR"/>
        <result column="URL" property="url" jdbcType="VARCHAR"/>
        <result column="VOLUME" property="volume" jdbcType="VARCHAR"/>
        <result column="CREATE_DT" property="createDt" jdbcType="VARCHAR"/>
        <result column="src" property="src" jdbcType="VARCHAR"/>
        <result column="ROLE" property="role" jdbcType="VARCHAR"/>
        <result column="MAP_DT" property="mapDt" jdbcType="VARCHAR"/>
    </resultMap>



    <insert id="signUp" parameterType="com.example.movieCore.login.vo.LoginMemberVo" >
        insert into MEM_MEMBER_INFO (
                                     MEM_ID,
                                     LOGIN_ID,
                                     LOGIN_PASSWORD,
                                     MEM_NAME,
                                     GENDER,
                                     /*AUTH,*/
                                     /*KAKAO_ID,*/
                                     /*NAVER_ID,*/
                                     MEM_CREATE_DATE,
                                     ADDRESS,
                                     EMAIL,
                                     ADDRESS_INFO,
                                     MEM_ROLE
                                     )
        values (
                #{memberBean.memId},
                #{memberBean.loginId},
                #{memberBean.loginPassword},
                #{memberBean.memName},
                #{memberBean.gender},
                DATE_FORMAT(#{memberBean.memCreateDate}, '%Y-%m-%d %h:%m:%s'),
                #{memberBean.address},
                #{memberBean.email},
                #{memberBean.addressInfo},
                #{memberBean.memRole}
                )
    </insert>
    <select id="getMemInfo" parameterType="com.example.movieCore.login.bean.LoginMemberBean" resultType="com.example.movieCore.login.bean.LoginMemberBean">
        SELECT
            MEM_ID as memId,
            LOGIN_ID as loginId,
            LOGIN_PASSWORD as loginPassword,
            MEM_NAME as memName,
            GENDER as gender,
            /*AUTH,*/
            /*KAKAO_ID,*/
            /*NAVER_ID,*/
            MEM_CREATE_DATE as memCreateDate,
            ADDRESS as address,
            EMAIL as email,
            ADDRESS_INFO as addressInfo,
            MEM_ROLE as memRole
        FROM
            MEM_MEMBER_INFO
        WHERE
            LOGIN_ID = #{loginId}

    </select>

    <select id="findByUsername" parameterType="string" resultType="com.example.movieCore.login.bean.LoginMemberBean">
        SELECT
            LOGIN_ID as loginId,
            LOGIN_PASSWORD as loginPassword,
            MEM_ROLE as memRole
        FROM
            MEM_MEMBER_INFO
        WHERE
            LOGIN_ID = #{username}

    </select>


    <!-- 사용자 정보 수정 -->
    <update id="updateMemberInfo" parameterType="com.example.movieCore.login.vo.LoginMemberVo">
        UPDATE MEM_MEMBER_INFO
        SET
            MEM_NAME = #{memberBean.memName},
            GENDER = #{memberBean.gender},
            ADDRESS = #{memberBean.address},
            EMAIL = #{memberBean.email},
            ADDRESS_INFO = #{memberBean.addressInfo}
            <if test="memberBean.changePassword == 'true'">
                , LOGIN_PASSWORD = #{memberBean.loginPassword}
            </if>
        WHERE MEM_ID = #{memberBean.memId}

    </update>


    <!-- 사용자 프로필 사진 조회 -->
    <select id="selectProfileImg" parameterType="com.example.movieCore.login.vo.LoginMemberVo" resultMap="memFileBean">
        SELECT
            cf.FILE_ID,
            cf.MODULE,
            cf.FILE_NAME,
            cf.LOCAL_NAME,
            cf.FILE_EXT,
            cf.URL,
            cf.VOLUME,
            cf.CREATE_DT,
            cf.SRC
        FROM MEM_MEMBER_INFO mmi
                 LEFT JOIN MEM_FILE_MAPPING mfm ON mmi.MEM_ID = mfm.MEM_ID
                 LEFT JOIN CMM_FILE cf ON mfm.FILE_ID = cf.FILE_ID
        WHERE mmi.MEM_ID = #{memberBean.memId}
    </select>


    <!-- 프사 파일빈 인서트  -->
    <insert id="insertFileBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        INSERT INTO
            CMM_FILE (
            FILE_ID,
            MODULE,
            FILE_NAME,
            LOCAL_NAME,
            FILE_EXT,
            URL,
            VOLUME,
            CREATE_DT,
            src
        )
        VALUES
            (
                #{memberBean.fileBean.fileId},
                #{memberBean.fileBean.module},
                #{memberBean.fileBean.fileName},
                #{memberBean.fileBean.localName},
                #{memberBean.fileBean.fileExt},
                #{memberBean.fileBean.url},
                #{memberBean.fileBean.volume},
                #{memberBean.fileBean.createDt},
                #{memberBean.fileBean.src}
            )
    </insert>



    <!-- 프사 <-> 파일빈 매핑 인서트  -->
    <insert id="insertFileBeanMap" parameterType="com.example.movieCore.brd.vo.BrdVo"  >
        INSERT INTO
            MEM_FILE_MAPPING (
            mem_id,
            FILE_ID
        )
        VALUES
            (
                #{memberBean.memId},
                #{memberBean.fileBean.fileId}
            )

    </insert>




    <!-- 유저 리스트 조회 -->
    <select id="selectMemberList" parameterType="com.example.movieCore.login.vo.LoginMemberVo" resultMap="memberBeanResultMap">
        SELECT
            MEM_ID,
            LOGIN_ID,
            LOGIN_PASSWORD,
            MEM_NAME,
            GENDER,
            STATE,
            AUTH,
            KAKAO_ID,
            NAVER_ID,
            MEM_CREATE_DATE,
            ADDRESS,
            EMAIL,
            ADDRESS_INFO,
            MEM_ROLE
        FROM MEM_MEMBER_INFO
    </select>








</mapper>