<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movieCore.migMovie.mapperInterface.MigMovManageMapper">

    <!-- 영화인 빈 -->
    <resultMap type="com.example.movieCore.migMovie.bean.MigMoviePeopleBean" id="migMoviePeopleBean">
        <result column="people_cd" property="peopleCd" jdbcType="VARCHAR"/>
        <result column="people_nm" property="peopleNm" jdbcType="VARCHAR"/>
        <result column="people_nm_en" property="peopleNmEn" jdbcType="VARCHAR"/>
        <result column="rep_role_nm" property="repRoleNm" jdbcType="VARCHAR"/>
        <result column="filmo_names" property="filmoNames" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 영화 장르 빈 -->
    <resultMap type="com.example.movieCore.migMovie.bean.MigMovieGenreBean" id="MovieGenreBean">
        <result column="genre_cd" property="genreCd" jdbcType="VARCHAR"/>
        <result column="genre_nm" property="genreNm" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 영화 정보 인서트 -->
    <insert id="insertMovieBean" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_MOVIE
            (
             movie_cd,
             movie_nm,
             movie_nm_en,
             prdt_year,
             open_dt,
             type_nm,
             prdt_stat_nm,
             nation_alt,
             genre_alt,
             rep_genre_nm,
             people_nm

        )
        VALUES
            (
                #{migMovieBean.movieCd},
                #{migMovieBean.movieNm},
                #{migMovieBean.movieNmEn},
                #{migMovieBean.prdtYear},
                DATE_FORMAT(#{migMovieBean.openDt}, '%Y-%m-%d %h:%m:%s'),
                #{migMovieBean.typeNm},
                #{migMovieBean.prdtStatNm},
                #{migMovieBean.nationAlt},
                #{migMovieBean.genreAlt},
                #{migMovieBean.repGenreNm},
                #{migMovieBean.peopleNm}

            )

    </insert>

    <!-- 영화 상세정보 인서트 -->
    <insert id="insertMovieInfoBean" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_MOVIE_INFO
        (
            MOVIE_CD,
            MOVIE_NM,
            MOVIE_NM_EN,
            MOVIE_NM_OG,
            PRDT_YEAR,
            SHOW_TM,
            OPEN_DT,
            PRDT_STAT_NM,
            TYPE_NM,
            genre_nm,
            DIRECTOR_NM,
            DIRECTOR_NM_EN,
            ACTORS_NM,
            ACTORS_NM_EN,
            CAST,
            CAST_EN,
            SHOW_TYPE_GROUP_NM,
            SHOW_TYPE_NM,
            AUDIT_NO,
            WATCH_GRADE_NM,
            STAFFS_NM,
            STAFFS_NM_EN,
            STAFFS_ROLE_NM,
            POINT_YN,
            POINT_AVG,
            POINT_TOTAL_CNT,
            TOTAL_VIEW_CNT,
            STATE,
            PREVIEW_URL
        )
        VALUES
            (
                #{migMovieInfoBean.movieCd},
                #{migMovieInfoBean.movieNm},
                #{migMovieInfoBean.movieNmEn},
                #{migMovieInfoBean.movieNmOg},
                #{migMovieInfoBean.prdtYear},
                #{migMovieInfoBean.showTm},
                DATE_FORMAT(#{migMovieInfoBean.openDt}, '%Y-%m-%d %h:%m:%s'),
                #{migMovieInfoBean.prdtStatNm},
                #{migMovieInfoBean.typeNm},
                #{migMovieInfoBean.genreNm},
                #{migMovieInfoBean.directorNm},
                #{migMovieInfoBean.directorNmEn},
                #{migMovieInfoBean.actorsNm},
                #{migMovieInfoBean.actorsNmEn},
                #{migMovieInfoBean.cast},
                #{migMovieInfoBean.castEn},
                #{migMovieInfoBean.showTypeGroupNm},
                #{migMovieInfoBean.showTypeNm},
                #{migMovieInfoBean.auditNo},
                #{migMovieInfoBean.watchGradeNm},
                #{migMovieInfoBean.staffsNm},
                #{migMovieInfoBean.staffsNmEn},
                #{migMovieInfoBean.staffsRoleNm},
                #{migMovieInfoBean.pointYn},
                #{migMovieInfoBean.pointAvg},
                #{migMovieInfoBean.pointTotalCnt},
                #{migMovieInfoBean.totalViewCnt},
                #{migMovieInfoBean.state},
                #{migMovieInfoBean.previewUrl}
            )



    </insert>


    <!-- 영화 회사 인서트 -->
    <insert id="insertMovieCompanyBean" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_COMPANY
        (
         COMPANY_CD,
         COMPANY_NM,
         COMPANY_NM_EN,
         COMPANY_PART_NAMES,
         CEO_NM,
         FILMO_NAMES
            )
        VALUES (
                   #{migMovieCompanyBean.companyCd},
                   #{migMovieCompanyBean.companyNm},
                   #{migMovieCompanyBean.companyNmEn},
                   #{migMovieCompanyBean.companyPartNames},
                   #{migMovieCompanyBean.ceoNm},
                   #{migMovieCompanyBean.filmoNames}
                )

    </insert>


    <!-- 영화 회사 매핑 인서트 -->
    <insert id="insertMovieCompanyMap" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_COMPANY_MAP
        (
         MOVIE_CD,
         COMPANY_CD
         )
        VALUES (
                   #{migMovieBean.movieCd},
                   #{migMovieBean.companyCd}
                )

    </insert>



    <!-- 영화 인 인서트 -->
    <insert id="insertMoviePeopleBean" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_PEOPLE
        (
        PEOPLE_CD,
        PEOPLE_NM,
        PEOPLE_NM_EN,
        REP_ROLE_NM,
        FILMO_NAMES
        )
        VALUES (
                   #{migMoviePeopleBean.peopleCd},
                   #{migMoviePeopleBean.peopleNm},
                   #{migMoviePeopleBean.peopleNmEn},
                   #{migMoviePeopleBean.repRoleNm},
                   #{migMoviePeopleBean.filmoNames}
                )
    </insert>


    <!-- 영화 인 전체 조회 -->
    <select id="selectMoviePeopleList" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" resultMap="migMoviePeopleBean">
        select
            people_cd,
            people_nm,
            people_nm_en,
            rep_role_nm,
            filmo_names
        from
            MOV_PEOPLE
    </select>


    <!-- 영화 인 상세정보 인서트 -->
    <insert id="insertMoviePeopleInfoBean" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_PEOPLE_INFO
            (
                PEOPLE_CD,
                PEOPLE_NM,
                PEOPLE_NM_EN,
                SEX,
                REP_ROLE_NM,
                FILMO_NAMES,
                MOVIE_CD,
                HOMEPAGES
            )
        values
            (
                #{migMoviePeopleInfoBean.peopleCd},
                #{migMoviePeopleInfoBean.peopleNm},
                #{migMoviePeopleInfoBean.peopleNmEn},
                #{migMoviePeopleInfoBean.sex},
                #{migMoviePeopleInfoBean.repRoleNm},
                #{migMoviePeopleInfoBean.filmos},
                #{migMoviePeopleInfoBean.movieCd},
                #{migMoviePeopleInfoBean.homepages}

            )
    </insert>



    <!-- 영화 제작국가 인서트 -->
    <insert id="insertMovieNationBean" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_NATION
        (
         NATION_CD,
         kor_nm,
         eng_nm
         )
        values (
                #{migMovieNationBean.nationCd},
                #{migMovieNationBean.korNm},
                #{migMovieNationBean.engNm}
                )
    </insert>



    <!-- 영화 제작국가 이름으로 셀렉트 -->
    <select id="selectMovieNation" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" resultType="String">
        select
        (
            NATION_CD
        )
        from
            MOV_NATION
        where KOR_NM = #{migMovieNationBean.korNm}
    </select>






    <!-- 영화 제작국가 매핑 인서트 -->
    <insert id="insertMovieNationMap" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_NATION_MAP
        (
         NATION_CD,
         MOVIE_CD
         )
        values (
                #{migMovieNationBean.nationCd},
                #{migMovieNationBean.movieCd}
                )
    </insert>



    <!-- 영화 회사 코드 실재 확인 -->
    <select id="checkTheCompany" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" resultType="integer">
        select count(COMPANY_CD)
        from MOV_COMPANY
        where company_cd =  #{migMovieBean.companyCd}
    </select>

    <!-- 영화 장르 조회 -->
    <select id="selectMovieGenre" parameterType="String" resultMap="MovieGenreBean">
        select
            genre_cd,
            genre_nm
        from
            MOV_GENRE
        where
            GENRE_NM =  #{genreNm}
    </select>


    <!-- 영화 장르 인서트 -->
    <insert id="insertMovieGenre" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_GENRE
            (
                genre_cd,
                genre_nm
            )
            VALUES (
                   #{migMovieGenreBean.genreCd},
                   #{migMovieGenreBean.genreNm}
                   )
    </insert>

    <!-- 영화 장르 매핑 인서트 -->
    <insert id="insertMovieGenreMap" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_GENRE_MAP
            (
                genre_cd,
                movie_cd
            )
            VALUES (
                   #{migMovieGenreBean.genreCd},
                   #{migMovieGenreBean.movieCd}
                   )
    </insert>


    <!-- 영화인 상세정보 존재 확인 -->
    <select id="checkPeopleInfo" parameterType="String" resultType="integer">
        select count(*) cnt
        from MOV_PEOPLE_INFO
        where people_cd = #{peopleCd}
    </select>







</mapper>