<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movieCore.migMovie.mapperInterface.MigMovManageMapper">

    <!-- 영화인 빈 -->
    <resultMap type="com.example.movieCore.migMovie.bean.MigMoviePeopleBean" id="migMoviePeopleBean">
        <result column="people_cd" property="peopleCd" jdbcType="VARCHAR"/>
        <result column="people_nm" property="peopleNm" jdbcType="VARCHAR"/>
        <result column="people_nm_en" property="peopleNmEn" jdbcType="VARCHAR"/>
        <result column="rep_role_nm" property="repRoleNm" jdbcType="VARCHAR"/>
        <result column="filmo_names" property="filmoNames" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 영화 장르 빈 -->
    <resultMap type="com.example.movieCore.migMovie.bean.MigMovieGenreBean" id="MovieGenreBean">
        <result column="genre_cd" property="genreCd" jdbcType="VARCHAR"/>
        <result column="genre_nm" property="genreNm" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 영화 빈 -->
    <resultMap type="com.example.movieCore.migMovie.bean.MigMovieBean" id="MovieBean">
        <result column="movie_cd" property="movieCd" jdbcType="VARCHAR"/>
        <result column="movie_nm" property="movieNm" jdbcType="VARCHAR"/>
        <result column="people_nm" property="peopleNm" jdbcType="VARCHAR"/>

    </resultMap>




    <!-- 영화 정보 인서트 -->
    <insert id="insertMovieBean" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_MOVIE
            (
             movie_cd,
             movie_nm,
             movie_nm_en,
             prdt_year,
             open_dt,
             type_nm,
             prdt_stat_nm,
             genre_alt,
             rep_genre_nm,
             state

        )
        VALUES
            (
                #{migMovieBean.movieCd},
                #{migMovieBean.movieNm},
                #{migMovieBean.movieNmEn},
                #{migMovieBean.prdtYear},
                DATE_FORMAT(#{migMovieBean.openDt}, '%Y-%m-%d %h:%m:%s'),
                #{migMovieBean.typeNm},
                #{migMovieBean.prdtStatNm},
                #{migMovieBean.genreAlt},
                #{migMovieBean.repGenreNm},
                'B'

            )

    </insert>

    <!-- 영화 상세정보 인서트 -->
    <insert id="insertMovieInfoBean" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_MOVIE_INFO
        (
            MOVIE_CD,
            MOVIE_NM,
            MOVIE_NM_EN,
            MOVIE_NM_OG,
            PRDT_YEAR,
            SHOW_TM,
            OPEN_DT,
            PRDT_STAT_NM,
            TYPE_NM,
            genre_nm,
            CAST,
            CAST_EN,
            SHOW_TYPE_GROUP_NM,
            SHOW_TYPE_NM,
            AUDIT_NO,
            WATCH_GRADE_NM,
            POINT_YN,
            POINT_AVG,
            POINT_TOTAL_CNT,
            TOTAL_VIEW_CNT,
            PREVIEW_URL
        )
        VALUES
            (
                #{migMovieInfoBean.movieCd},
                #{migMovieInfoBean.movieNm},
                #{migMovieInfoBean.movieNmEn},
                #{migMovieInfoBean.movieNmOg},
                #{migMovieInfoBean.prdtYear},
                #{migMovieInfoBean.showTm},
                DATE_FORMAT(#{migMovieInfoBean.openDt}, '%Y-%m-%d %h:%m:%s'),
                #{migMovieInfoBean.prdtStatNm},
                #{migMovieInfoBean.typeNm},
                #{migMovieInfoBean.genreNm},
                #{migMovieInfoBean.cast},
                #{migMovieInfoBean.castEn},
                #{migMovieInfoBean.showTypeGroupNm},
                #{migMovieInfoBean.showTypeNm},
                #{migMovieInfoBean.auditNo},
                #{migMovieInfoBean.watchGradeNm},
                #{migMovieInfoBean.pointYn},
                #{migMovieInfoBean.pointAvg},
                #{migMovieInfoBean.pointTotalCnt},
                #{migMovieInfoBean.totalViewCnt},
                #{migMovieInfoBean.previewUrl}
            )



    </insert>


    <!-- 영화 회사 인서트 -->
    <insert id="insertMovieCompanyBean" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_COMPANY
        (
         COMPANY_CD,
         COMPANY_NM,
         COMPANY_NM_EN,
         COMPANY_PART_NAMES,
         CEO_NM,
         FILMO_NAMES
            )
        VALUES (
                   #{migMovieCompanyBean.companyCd},
                   #{migMovieCompanyBean.companyNm},
                   #{migMovieCompanyBean.companyNmEn},
                   #{migMovieCompanyBean.companyPartNames},
                   #{migMovieCompanyBean.ceoNm},
                   #{migMovieCompanyBean.filmoNames}
                )

    </insert>


    <!-- 영화 회사 매핑 인서트 -->
    <insert id="insertMovieCompanyMap" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_COMPANY_MAP
        (
         MOVIE_CD,
         COMPANY_CD
         )
        VALUES (
                   #{migMovieBean.movieCd},
                   #{migMovieBean.companyCd}
                )

    </insert>



    <!-- 영화 인 인서트 -->
    <insert id="insertMoviePeopleBean" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_PEOPLE
        (
        PEOPLE_CD,
        PEOPLE_NM,
        PEOPLE_NM_EN,
        REP_ROLE_NM,
        FILMO_NAMES
        )
        VALUES (
                   #{migMoviePeopleBean.peopleCd},
                   #{migMoviePeopleBean.peopleNm},
                   #{migMoviePeopleBean.peopleNmEn},
                   #{migMoviePeopleBean.repRoleNm},
                   #{migMoviePeopleBean.filmoNames}
                )
    </insert>


    <!-- 영화 인 전체 조회 -->
    <select id="selectMoviePeopleList" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" resultMap="migMoviePeopleBean">
        select
            people_cd,
            people_nm,
            people_nm_en,
            rep_role_nm,
            filmo_names
        from
            MOV_PEOPLE
    </select>


    <!-- 영화 인 상세정보 인서트 -->
    <insert id="insertMoviePeopleInfoBean" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_PEOPLE_INFO
            (
                PEOPLE_CD,
                PEOPLE_NM,
                PEOPLE_NM_EN,
                SEX,
                REP_ROLE_NM,
                FILMO_NAMES,
                HOMEPAGES
            )
        values
            (
                #{migMoviePeopleInfoBean.peopleCd},
                #{migMoviePeopleInfoBean.peopleNm},
                #{migMoviePeopleInfoBean.peopleNmEn},
                #{migMoviePeopleInfoBean.sex},
                #{migMoviePeopleInfoBean.repRoleNm},
                #{migMoviePeopleInfoBean.filmos},
                #{migMoviePeopleInfoBean.homepages}

            )
    </insert>



    <!-- 영화 제작국가 인서트 -->
    <insert id="insertMovieNationBean" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_NATION
        (
         NATION_CD,
         kor_nm,
         eng_nm
         )
        values (
                #{migMovieNationBean.nationCd},
                #{migMovieNationBean.korNm},
                #{migMovieNationBean.engNm}
                )
    </insert>



    <!-- 영화 제작국가 이름으로 셀렉트 -->
    <select id="selectMovieNation" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" resultType="String">
        select
        (
            NATION_CD
        )
        from
            MOV_NATION
        where KOR_NM = #{korNm}
        LIMIT 1
    </select>






    <!-- 영화 제작국가 매핑 인서트 -->
    <insert id="insertMovieNationMap" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_NATION_MAP
        (
         NATION_CD,
         MOVIE_CD
         )
        values (
                #{migMovieNationBean.nationCd},
                #{migMovieNationBean.movieCd}
                )
    </insert>



    <!-- 영화 회사 코드 실재 확인 -->
    <select id="checkTheCompany" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" resultType="integer">
        select count(COMPANY_CD)
        from MOV_COMPANY
        where company_cd =  #{migMovieBean.companyCd}
    </select>

    <!-- 영화 장르 조회 -->
    <select id="selectMovieGenre" parameterType="String" resultMap="MovieGenreBean">
        select
            genre_cd,
            genre_nm
        from
            MOV_GENRE
        where
            GENRE_NM =  #{genreNm}
    </select>


    <!-- 영화 장르 인서트 -->
    <insert id="insertMovieGenre" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_GENRE
            (
                genre_cd,
                genre_nm
            )
            VALUES (
                   #{migMovieGenreBean.genreCd},
                   #{migMovieGenreBean.genreNm}
                   )
    </insert>

    <!-- 영화 장르 매핑 인서트 -->
    <insert id="insertMovieGenreMap" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_GENRE_MAP
            (
                genre_cd,
                movie_cd
            )
            VALUES (
                   #{migMovieGenreBean.genreCd},
                   #{migMovieGenreBean.movieCd}
                   )
    </insert>


    <!-- 영화인 상세정보 존재 확인 -->
    <select id="checkPeopleInfo" parameterType="String" resultType="integer">
        select count(*) cnt
        from MOV_PEOPLE_INFO
        where people_cd = #{peopleCd}
    </select>



    <!-- 영화인 이름 검색 -->
    <select id="selectPeopleCdByNm" parameterType="String" resultMap="migMoviePeopleBean">
        select
        people_cd,
        people_nm,
        people_nm_en,
        rep_role_nm,
        filmo_names
        from
        MOV_PEOPLE
        where
        people_nm = #{peopleNm}
    </select>


    <!-- 영화 감독 매핑 인서트 -->
    <insert id="insertMoviePeopleMap" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" >
        insert into MOV_PEOPLE_MAP
        (
            PEOPLE_CD,
            movie_cd,
            rep_role_nm
        )
        VALUES (
                   #{migMoviePeopleBean.peopleCd},
                   #{migMovieBean.movieCd},
                   #{migMoviePeopleBean.repRoleNm}
               )
    </insert>


    <!-- 영화 리스트 조회 -->
    <select id="selectMovieList" resultMap="MovieBean">

        SELECT
            mm.MOVIE_CD,
            mm.MOVIE_NM
        FROM
            MOV_MOVIE mm

    </select>

    <!-- 영화 감독 조회 -->
    <select id="selectDirector" parameterType="com.example.movieCore.migMovie.vo.MigMovVo" resultType="String">

        SELECT
            mp.people_nm
        FROM
            MOV_PEOPLE_MAP mpm
                JOIN
            MOV_PEOPLE mp ON mpm.people_cd = mp.people_cd
        where
            mpm.REP_ROLE_NM = '감독'
            and mpm.movie_cd = #{migMovieBean.movieCd}
            LIMIT 1

    </select>


    <!-- 영화 줄거리, 예고편 갱신  -->
    <update id="updateURL" parameterType="com.example.movieCore.migMovie.vo.MigMovVo">
        UPDATE MOV_MOVIE_INFO
        SET plot = #{migMovieInfoBean.plot}
        <if test="migMovieInfoBean.previewUrl != null and migMovieInfoBean.previewUrl != ''">
            ,PREVIEW_URL = #{migMovieInfoBean.previewUrl}
        </if>
        WHERE movie_cd = #{migMovieInfoBean.movieCd}
    </update>


    <!-- 영화 포스터 파일 매핑 인서트 (api 버전) -->
    <insert id="insertMovieFileMap" parameterType="com.example.movieCore.movie.vo.MovVo" >
        INSERT INTO
            MOV_FILE_MAPPING
            (
                MOVIE_CD,
                FILE_ID,
                ROLE,
                MAP_DT
            )
        VALUES
            (
                #{migMovieInfoBean.movieCd},
                #{migMovieInfoBean.fileId},
                'POSTER',
                NOW()
            )
    </insert>


    <!-- 영화 포스터 파일 인서트 (api 버전) -->
    <insert id="insertFileBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        INSERT INTO
            CMM_FILE (
            FILE_ID,
            MODULE,
            URL,
            CREATE_DT,
            src
        )
        VALUES
            (
                #{migMovieInfoBean.fileId},
                'API',
                #{migMovieInfoBean.posterUrl},
                NOW(),
                #{migMovieInfoBean.posterUrl}
            )
    </insert>


    <!-- movieCd로 영화 갯수 파악 -->
    <select id="checkMovieCntByMovieCd" parameterType="String" resultType="integer">
        select
            count(MOVIE_CD) checkCnt
        from
            MOV_MOVIE
        where
            MOVIE_CD = #{movieCd}
    </select>


    <!-- 박스오피스 테이블 인서트 -->
    <insert id="insertBoxOffice" parameterType="com.example.movieCore.migMovie.vo.MigMovVo">
        INSERT INTO MOV_BOX_OFFICE (show_range, movie_cd, box_rank, box_rank_old_and_new, audi_cnt, audi_inten, audi_change, audi_acc,movie_nm)
        VALUES
        <foreach collection="boxOfficeBeanList" item="item" separator=",">
            (
            #{item.showRange},
            #{item.movieCd},
            #{item.rank},
            #{item.rankOldAndNew},
            #{item.audiCnt},
            #{item.audiInten},
            #{item.audiChange},
            #{item.audiAcc},
            #{item.movieNm}
            )
        </foreach>
    </insert>



    <!-- 개봉일 업데이트 -->
    <update id="updateOpenDt" parameterType="com.example.movieCore.migMovie.vo.MigMovVo">
        UPDATE MOV_MOVIE
        SET open_dt = #{boxOfficeBean.openDt}
        WHERE movie_cd = #{boxOfficeBean.movieCd}
    </update>



    <!-- 일일 박스오피스 배치 동작 확인 -->
    <select id="dailyBoxOfficeRunCheck" parameterType="String" resultType="boolean">
        select
            BATCH_RUN as batchRun
        from
            BATCH_CONFIG
        where
            BATCH_NAME = #{batchName}
    </select>


    <!-- 박스오피스 배치 동작 상태 업데이트 -->
    <update id="BoxOfficeBatchActiveUpdate" parameterType="com.example.movieCore.migMovie.vo.MigMovVo">
        UPDATE BATCH_CONFIG
        SET BATCH_RUN = #{batchConfig.batchRun}
        WHERE BATCH_NAME = #{batchConfig.batchName}
    </update>



    <!-- 배치 로그 인서트 -->
    <insert id="insertBatchLog" parameterType="com.example.movieCore.migMovie.bean.BatchLog">
        INSERT INTO BATCH_LOG (
            BATCH_NAME,
            BATCH_RUN_TIME,
            BATCH_TYPE,
            BATCH_FAIL_COUNT,
            BATCH_ERROR_TEXT,
            BATCH_STATUS,
            BATCH_END_TIME,
            BATCH_DURATION
        ) VALUES (
                     #{batchName},
                     #{batchRunTime},
                     #{batchType},
                     #{batchFailCount},
                     #{batchErrorText},
                     #{batchStatus},
                     #{batchEndTime},
                     #{batchDuration}
                 )
    </insert>








    <!-- 디비 테스트 -->
    <select id="callDBTest" parameterType="String" resultType="integer">
        select 4 from dual
    </select>





</mapper>