<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movieCore.movie.mapperInterface.MovMovieMapper">

    <!-- 영화 빈 -->
    <resultMap type="com.example.movieCore.movie.bean.MovieBean" id="MovieBean">
        <result column="movie_cd" property="movieCd" jdbcType="VARCHAR"/>
        <result column="movie_nm" property="movieNm" jdbcType="VARCHAR"/>
        <result column="movie_nm_en" property="movieNmEn" jdbcType="VARCHAR"/>
        <result column="prdt_year" property="prdtYear" jdbcType="VARCHAR"/>
        <result column="open_dt" property="openDt" jdbcType="DATE"/>
        <result column="type_nm" property="typeNm" jdbcType="VARCHAR"/>
        <result column="prdt_stat_nm" property="prdtStatNm" jdbcType="VARCHAR"/>
        <result column="genre_alt" property="genreAlt" jdbcType="VARCHAR"/>
        <result column="rep_genre_nm" property="repGenreNm" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>

        <!-- 영화 상세정보 -->
        <result column="movie_nm_og" property="movieNmOg" jdbcType="VARCHAR"/>
        <result column="show_tm" property="showTm" jdbcType="VARCHAR"/>
        <result column="nation_nm" property="nationNm" jdbcType="VARCHAR"/>
        <result column="genre_nm" property="genreNm" jdbcType="VARCHAR"/>
        <result column="cast" property="cast" jdbcType="VARCHAR"/>
        <result column="cast_en" property="castEn" jdbcType="VARCHAR"/>
        <result column="show_types" property="showTypes" jdbcType="VARCHAR"/>
        <result column="show_type_group_nm" property="showTypeGroupNm" jdbcType="VARCHAR"/>
        <result column="show_type_nm" property="showTypeNm" jdbcType="VARCHAR"/>
        <result column="audit_no" property="auditNo" jdbcType="VARCHAR"/>
        <result column="watch_grade_nm" property="watchGradeNm" jdbcType="VARCHAR"/>
        <result column="point_yn" property="pointYn" jdbcType="VARCHAR"/>
        <result column="point_avg" property="pointAvg" jdbcType="VARCHAR"/>
        <result column="point_total_cnt" property="pointTotalCnt" jdbcType="VARCHAR"/>
        <result column="total_view_cnt" property="totalViewCnt" jdbcType="VARCHAR"/>
        <result column="preview_url" property="previewUrl" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 영화 장르 리스트 -->
    <resultMap type="com.example.movieCore.movie.bean.MovieGenreBean" id="movieGenreBeanList">
        <result column="GENRE_CD" property="genreCd" jdbcType="VARCHAR"/>
        <result column="GENRE_NM" property="genreNm" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 영화 컴퍼니 리스트 -->
    <resultMap type="com.example.movieCore.movie.bean.MovieCompanyBean" id="movieCompanyBeanList">
        <result column="company_cd" property="companyCd" jdbcType="VARCHAR"/>
        <result column="company_nm" property="companyNm" jdbcType="VARCHAR"/>
        <result column="company_nm_en" property="companyNmEn" jdbcType="VARCHAR"/>
        <result column="company_part_names" property="companyPartNames" jdbcType="VARCHAR"/>
        <result column="ceo_nm" property="ceoNm" jdbcType="VARCHAR"/>
        <result column="filmo_names" property="filmoNames" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 영화 제작국가 리스트 -->
    <resultMap type="com.example.movieCore.movie.bean.MovieNationBean" id="movieNationBeanList">
        <result column="nation_cd" property="nationCd" jdbcType="VARCHAR"/>
        <result column="kor_nm" property="korNm" jdbcType="VARCHAR"/>
        <result column="eng_nm" property="engNm" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 영화인 리스트 -->
    <resultMap type="com.example.movieCore.movie.bean.MoviePeopleBean" id="moviePeopleBeanList">
        <result column="people_cd" property="peopleCd" jdbcType="VARCHAR"/>
        <result column="people_nm" property="peopleNm" jdbcType="VARCHAR"/>
        <result column="people_nm_en" property="peopleNmEn" jdbcType="VARCHAR"/>
        <result column="rep_role_nm" property="repRoleNm" jdbcType="VARCHAR"/>
        <result column="filmo_names" property="filmoNames" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 영화 평가 빈 -->
    <resultMap type="com.example.movieCore.movie.bean.MoviePersonalMoviePoint" id="moviePersonalMoviePointBean">
        <result column="movie_cd" property="movieCd" jdbcType="VARCHAR"/>
        <result column="mem_id" property="memId" jdbcType="VARCHAR"/>
        <result column="mem_name" property="memName" jdbcType="VARCHAR"/>
        <result column="point" property="point" jdbcType="VARCHAR"/>
        <result column="repl" property="repl" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
    </resultMap>



    <!-- 관리자 - 영화 리스트 토탈 갯수 조회 -->
    <select id="selectMovieListTotalCntAdmin" parameterType="com.example.movieCore.movie.vo.MovVo" resultType="integer">
        SELECT
        count(MM.movie_cd) totalCnt
        FROM
        MOV_MOVIE MM

        WHERE
        1=1
        /* 제목 검색 */
        <choose>
            <when test="searchFilter == 'movieCd'">
                AND MM.MOVIE_CD LIKE CONCAT('%', #{searchText}, '%')
            </when>
            <when test="searchFilter == 'movieNm'">
                AND MM.MOVIE_NM LIKE CONCAT('%', #{searchText}, '%')
            </when>
            <when test="searchFilter == 'repGenreNm'">
                AND MM.REP_GENRE_NM LIKE CONCAT('%', #{searchText}, '%')
            </when>
            <otherwise>
                AND (
                MM.MOVIE_CD LIKE CONCAT('%', #{searchText}, '%')
                OR MM.MOVIE_NM LIKE CONCAT('%', #{searchText}, '%')
                OR MM.REP_GENRE_NM LIKE CONCAT('%', #{searchText}, '%')
                )
            </otherwise>
        </choose>
    </select>


    <!-- 관리자 - 영화 리스트 조회 -->
    <select id="selectMovieListAdmin" parameterType="com.example.movieCore.movie.vo.MovVo" resultMap="MovieBean">
        SELECT
        MM.movie_cd,
        MM.movie_nm,
        MM.movie_nm_en,
        MM.prdt_year,
        MM.open_dt,
        MM.type_nm,
        MM.prdt_stat_nm,
        MM.genre_alt,
        MM.rep_genre_nm,
        MM.STATE
        FROM MOV_MOVIE MM
        WHERE 1=1
        /* 제목 검색 */
        <choose>
            <when test="searchFilter == 'movieCd'">
                AND MM.MOVIE_CD LIKE CONCAT('%', #{searchText}, '%')
            </when>
            <when test="searchFilter == 'movieNm'">
                AND MM.MOVIE_NM LIKE CONCAT('%', #{searchText}, '%')
            </when>
            <when test="searchFilter == 'repGenreNm'">
                AND MM.REP_GENRE_NM LIKE CONCAT('%', #{searchText}, '%')
            </when>
            <otherwise>
                AND (
                MM.MOVIE_CD LIKE CONCAT('%', #{searchText}, '%')
                OR MM.MOVIE_NM LIKE CONCAT('%', #{searchText}, '%')
                OR MM.REP_GENRE_NM LIKE CONCAT('%', #{searchText}, '%')
                )
            </otherwise>
        </choose>

        /* 정렬 */
        <if test="sortKey != null and sortOdr != null">
            ORDER BY
            <choose>
                <when test="sortKey == 'movieCd'">
                    MM.movie_cd
                </when>
                <when test="sortKey == 'movieNm'">
                    MM.movie_nm
                </when>
                <when test="sortKey == 'prdtYear'">
                    MM.prdt_year
                </when>
                <when test="sortKey == 'repGenreNm'">
                    MM.rep_genre_nm
                </when>
                <when test="sortKey == 'state'">
                    MM.state
                </when>
                <otherwise>
                    MM.movie_cd
                </otherwise>
            </choose>
            <if test="sortOdr == 'asc'">
                ASC
            </if>
            <if test="sortOdr == 'desc'">
                DESC
            </if>
        </if>

        /* 페이징 */
        LIMIT #{paging.startIndex}, #{paging.itemsPerPage}
    </select>


    <!-- 영화 상태값 변경 -->
    <update id="updateMovieStateAdmin" parameterType="com.example.movieCore.movie.vo.MovVo">
        UPDATE MOV_MOVIE
        SET STATE = #{mode}
        WHERE MOVIE_CD IN
        <foreach item="movie" collection="movieBeanList" open="(" separator="," close=")">
            #{movie.movieCd}
        </foreach>
    </update>



    <!-- 영화 모듈 - 영화 리스트 토탈 갯수 조회 -->
    <select id="selectMovieListTotalCnt" parameterType="com.example.movieCore.movie.vo.MovVo" resultType="integer">
        SELECT
        count(MM.movie_cd) totalCnt
        FROM
        MOV_MOVIE MM, MOV_MOVIE_INFO MMI

        WHERE
            MM.MOVIE_CD = MMI.MOVIE_CD

            AND MM.STATE = 'B'

          /* 검색) 제목, 대표장르, 개봉년도, 배우명, 관람등급, 전체 */
        <choose>
            <when test="searchFilter == 'movieNm'">
                AND MM.MOVIE_NM LIKE CONCAT('%', #{searchText}, '%')
            </when>
            <when test="searchFilter == 'repGenreNm'">
                AND MM.REP_GENRE_NM LIKE CONCAT('%', #{searchText}, '%')
            </when>

            <when test="searchFilter == 'openDt'">
                AND MM.open_dt LIKE CONCAT('%', #{searchText}, '%')
            </when>

            <when test="searchFilter == 'cast'">
                AND MMI.cast LIKE CONCAT('%', #{searchText}, '%')
            </when>

            <when test="searchFilter == 'watchGradeNm'">
                AND MMI.watch_grade_nm LIKE CONCAT('%', #{searchText}, '%')
            </when>

            <when test="searchFilter == 'nationNm'">
                AND MMI.NATION_NM LIKE CONCAT('%', #{searchText}, '%')
            </when>





            <otherwise>
                AND (
                MM.MOVIE_NM LIKE CONCAT('%', #{searchText}, '%')
                OR MM.REP_GENRE_NM LIKE CONCAT('%', #{searchText}, '%')

                OR MM.open_dt LIKE CONCAT('%', #{searchText}, '%')
                OR MMI.cast LIKE CONCAT('%', #{searchText}, '%')
                OR MMI.watch_grade_nm LIKE CONCAT('%', #{searchText}, '%')
                )
            </otherwise>
        </choose>
    </select>


    <!-- 영화 모듈 - 영화 리스트 조회 -->
    <select id="selectMovieList" parameterType="com.example.movieCore.movie.vo.MovVo" resultMap="MovieBean">
        SELECT
        MM.movie_cd,
        MM.movie_nm,
        MM.movie_nm_en,
        MM.prdt_year,
        MM.open_dt,
        MM.type_nm,
        MM.prdt_stat_nm,
        MM.genre_alt,
        MM.rep_genre_nm,
        MM.STATE,
        MMI.POINT_AVG,
        MMI.POINT_TOTAL_CNT
        FROM MOV_MOVIE MM, MOV_MOVIE_INFO MMI
        WHERE
            MM.MOVIE_CD = MMI.MOVIE_CD

            AND MM.STATE = 'B'

        /* 검색) 제목, 대표장르, 개봉년도, 배우명, 관람등급, 제작국가, 전체 */
        <choose>
            <when test="searchFilter == 'movieNm'">
                AND MM.MOVIE_NM LIKE CONCAT('%', #{searchText}, '%')
            </when>
            <when test="searchFilter == 'repGenreNm'">
                AND MM.REP_GENRE_NM LIKE CONCAT('%', #{searchText}, '%')
            </when>

            <when test="searchFilter == 'openDt'">
                AND MM.open_dt LIKE CONCAT('%', #{searchText}, '%')
            </when>

            <when test="searchFilter == 'cast'">
                AND MMI.cast LIKE CONCAT('%', #{searchText}, '%')
            </when>

            <when test="searchFilter == 'watchGradeNm'">
                AND MMI.watch_grade_nm LIKE CONCAT('%', #{searchText}, '%')
            </when>

            <when test="searchFilter == 'nationNm'">
                AND MMI.NATION_NM LIKE CONCAT('%', #{searchText}, '%')
            </when>

            <otherwise>
                AND (
                MM.MOVIE_NM LIKE CONCAT('%', #{searchText}, '%')
                OR MM.REP_GENRE_NM LIKE CONCAT('%', #{searchText}, '%')

                OR MM.open_dt LIKE CONCAT('%', #{searchText}, '%')
                OR MMI.cast LIKE CONCAT('%', #{searchText}, '%')
                OR MMI.watch_grade_nm LIKE CONCAT('%', #{searchText}, '%')
                )
            </otherwise>
        </choose>

        /* 정렬 */
        <if test="sortKey != null and sortOdr != null">
            ORDER BY
            <choose>
                <when test="sortKey == 'movieNm'">
                    MM.movie_nm
                </when>
                <when test="sortKey == 'prdtYear'">
                    MM.prdt_year
                </when>
                <when test="sortKey == 'repGenreNm'">
                    MM.rep_genre_nm
                </when>
                <otherwise>
                    MM.movie_cd
                </otherwise>
            </choose>
            <if test="sortOdr == 'asc'">
                ASC
            </if>
            <if test="sortOdr == 'desc'">
                DESC
            </if>
        </if>

        /* 페이징 */
        LIMIT #{paging.startIndex}, #{paging.itemsPerPage}
    </select>


    <!-- 영화 모듈 - 영화 상세정보 조회 -->
    <select id="selectMovieInfo" parameterType="com.example.movieCore.movie.vo.MovVo" resultMap="MovieBean">
        SELECT
            MM.movie_cd,
            MM.movie_nm,
            MM.movie_nm_en,
            MM.prdt_year,
            MM.open_dt,
            MM.type_nm,
            MM.prdt_stat_nm,
            MM.genre_alt,
            MM.rep_genre_nm,
            MM.STATE,
            MMI.movie_nm_og,
            MMI.show_tm,
            MMI.nation_nm,
            MMI.cast,
            MMI.cast_en,
            MMI.show_types,
            MMI.show_type_group_nm,
            MMI.show_type_nm,
            MMI.audit_no,
            MMI.watch_grade_nm,
            MMI.point_yn,
            MMI.point_avg,
            MMI.point_total_cnt,
            MMI.total_view_cnt,
            MMI.preview_url
        FROM MOV_MOVIE MM
                 LEFT JOIN MOV_MOVIE_INFO MMI ON MM.MOVIE_CD = MMI.MOVIE_CD
        WHERE MM.movie_cd = #{movieBean.movieCd}
    </select>


    <!-- 영화 장르 리스트 조회 -->
    <select id="selectMovieGenreList" parameterType="com.example.movieCore.movie.vo.MovVo" resultMap="movieGenreBeanList">
        SELECT
            MG.GENRE_CD,
            MG.GENRE_NM
        FROM MOV_MOVIE MM
            LEFT JOIN MOV_GENRE_MAP MGM ON MM.MOVIE_CD = MGM.MOVIE_CD
            LEFT JOIN MOV_GENRE MG ON MGM.GENRE_CD = MG.GENRE_CD
        WHERE MM.movie_cd = #{movieBean.movieCd}
    </select>


    <!-- 영화 회사 리스트 조회 -->
    <select id="selectMovieCompanyList" parameterType="com.example.movieCore.movie.vo.MovVo" resultMap="movieCompanyBeanList">
        SELECT
            MC.company_cd,
            MC.company_nm,
            MC.company_nm_en,
            MC.company_part_names,
            MC.ceo_nm,
            MC.filmo_names
        FROM MOV_MOVIE MM
             LEFT JOIN MOV_COMPANY_MAP MCM ON MM.MOVIE_CD = MCM.MOVIE_CD
             LEFT JOIN MOV_COMPANY MC ON MCM.COMPANY_CD = MC.COMPANY_CD
        WHERE MM.movie_cd = #{movieBean.movieCd}
    </select>


    <!-- 영화 제작국가 리스트 조회 -->
    <select id="selectMovieNationList" parameterType="com.example.movieCore.movie.vo.MovVo" resultMap="movieNationBeanList">
        SELECT
            MN.nation_cd,
            MN.kor_nm,
            MN.eng_nm
        FROM MOV_MOVIE MM
             LEFT JOIN MOV_NATION_MAP MNM ON MM.MOVIE_CD = MNM.MOVIE_CD
             LEFT JOIN MOV_NATION MN ON MNM.NATION_CD = MN.NATION_CD
        WHERE MM.movie_cd = #{movieBean.movieCd}
    </select>


    <!-- 해당 영화의 감독, 배우 리스트 조회 -->
    <select id="selectMoviePeopleList" parameterType="com.example.movieCore.movie.vo.MovVo" resultMap="moviePeopleBeanList">
        SELECT
            MP.PEOPLE_CD,
            MP.PEOPLE_NM,
            MP.PEOPLE_NM_EN,
            MP.REP_ROLE_NM,
            MP.FILMO_NAMES
        FROM MOV_MOVIE MM
             LEFT JOIN MOV_PEOPLE_MAP MPM ON MM.MOVIE_CD = MPM.MOVIE_CD
             LEFT JOIN MOV_PEOPLE MP ON MPM.PEOPLE_CD = MP.PEOPLE_CD
        WHERE MM.movie_cd = #{movieBean.movieCd}
    </select>


    <!-- 영화 조회 로그 추가 -->
    <insert id="addMovieViewCnt" parameterType="com.example.movieCore.movie.vo.MovVo" >
        INSERT INTO MOV_PERSONNAL_VIEW_LOG (MOVIE_CD, MEM_ID, VIEW_DT)
        SELECT #{movieBean.movieCd}, #{memberBean.memId}, NOW()
        FROM DUAL
        WHERE NOT EXISTS (
                SELECT 1
                FROM MOV_PERSONNAL_VIEW_LOG
                WHERE MOVIE_CD = #{movieBean.movieCd} AND MEM_ID = #{memberBean.memId}
            )
    </insert>

    <!-- 영화 조회 수 갱신 -->
    <update id="reFreshMovieTotalViewCnt" parameterType="com.example.movieCore.movie.vo.MovVo" >
        UPDATE MOV_MOVIE_INFO
        SET
            total_view_cnt = (select count(*) cnt
                              from MOV_PERSONNAL_VIEW_LOG mpvl
                              WHERE MOVIE_CD = #{movieBean.movieCd})
        WHERE
            MOVIE_CD = #{movieBean.movieCd}
    </update>


    <!-- 영화 찜 추가 -->
    <insert id="addMovieFav" parameterType="com.example.movieCore.movie.vo.MovVo" >
        INSERT INTO MOV_FAVORITE (MOVIE_CD, MEM_ID)
        VALUES (#{movieBean.movieCd}, #{memberBean.memId})
    </insert>

    <!-- 영화 찜 제거 -->
    <delete id="deleteMovieFav" parameterType="com.example.movieCore.movie.vo.MovVo" >
        DELETE FROM MOV_FAVORITE
        WHERE MOVIE_CD = #{movieBean.movieCd} AND MEM_ID = #{memberBean.memId}
    </delete>

    <!-- 영화 찜 정보 조회 -->
    <select id="selectMovieFavorite" parameterType="com.example.movieCore.movie.vo.MovVo" resultType="integer" >
        SELECT count(*) cnt
        FROM MOV_FAVORITE
        WHERE MOVIE_CD = #{movieBean.movieCd} AND MEM_ID = #{memberBean.memId}
    </select>


    <!-- 영화 평가(별점, 한줄평) 없을시 등록/ 이미 있을시 업데이트  -->
    <insert id="updateMovPersonalMoviePoint" parameterType="com.example.movieCore.movie.vo.MovVo" >
        INSERT INTO MOV_PERSONAL_MOVIE_POINT (mem_id, movie_cd, point, repl, state)
        VALUES (#{moviePersonalMoviePointBean.memId},
                #{moviePersonalMoviePointBean.movieCd},
                #{moviePersonalMoviePointBean.point},
                #{moviePersonalMoviePointBean.repl},
                #{moviePersonalMoviePointBean.state})
            ON DUPLICATE KEY UPDATE
                                 point = VALUES(point),
                                 repl = VALUES(repl),
                                 state = VALUES(state)
    </insert>


    <!-- 영화 나의 평가 정보 조회 -->
    <select id="selectMoviePersonalMoviePointBean" parameterType="com.example.movieCore.movie.vo.MovVo" resultMap="moviePersonalMoviePointBean" >
        SELECT
            movie_cd,
            mem_id,
            point,
            repl,
            state
        FROM MOV_PERSONAL_MOVIE_POINT
        WHERE MOVIE_CD = #{movieBean.movieCd} AND MEM_ID = #{memberBean.memId}
    </select>


    <!-- 영화 평가 정보 삭제 -->
    <delete id="deleteMovPersonalMoviePoint" parameterType="com.example.movieCore.movie.vo.MovVo"  >
        DELETE FROM MOV_PERSONAL_MOVIE_POINT
        WHERE MOVIE_CD = #{moviePersonalMoviePointBean.movieCd} AND MEM_ID = #{moviePersonalMoviePointBean.memId};
    </delete>


    <!-- 영화 상세정보 평가(평가횟수, 평균 별점) 갱신 -->
    <update id="updateMovieInfoPoint" parameterType="com.example.movieCore.movie.vo.MovVo" >
        UPDATE MOV_MOVIE_INFO
        SET
            POINT_TOTAL_CNT = (
                                SELECT count(*) cnt
                                FROM MOV_PERSONAL_MOVIE_POINT
                                WHERE MOVIE_CD = #{moviePersonalMoviePointBean.movieCd}),
            POINT_AVG = (
                                SELECT ROUND(SUM(CAST(point AS DECIMAL)) / COUNT(*), 1) AS point_avg
                                FROM MOV_PERSONAL_MOVIE_POINT
                                WHERE MOVIE_CD = #{moviePersonalMoviePointBean.movieCd})
        WHERE
            MOVIE_CD = #{moviePersonalMoviePointBean.movieCd}
    </update>




    <!-- 영화 평가 정보 리스트 조회 -->
    <select id="selectMoviePersonalMoviePointBeanList" parameterType="com.example.movieCore.movie.vo.MovVo" resultMap="moviePersonalMoviePointBean" >
        SELECT
            MPMP.movie_cd,
            MPMP.mem_id,
            MMI.MEM_NAME,
            MPMP.point,
            MPMP.repl,
            MPMP.state
        FROM MOV_PERSONAL_MOVIE_POINT MPMP
                 JOIN MEM_MEMBER_INFO MMI ON MPMP.MEM_ID = MMI.MEM_ID
        WHERE MPMP.MOVIE_CD = #{movieBean.movieCd} AND MPMP.MEM_ID != #{memberBean.memId}
    </select>


    <!-- 영화 한줄평 상태 변경 -->
    <update id="updateMovieState" parameterType="com.example.movieCore.movie.vo.MovVo" >
        UPDATE MOV_PERSONAL_MOVIE_POINT
        SET state = #{mode}
        WHERE movie_cd = #{moviePersonalMoviePointBean.movieCd} AND mem_id = #{moviePersonalMoviePointBean.memId}
    </update>


    <!-- 영화 포스터 파일 인서트 -->
    <insert id="insertFileBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        INSERT INTO
            CMM_FILE (
            FILE_ID,
            MODULE,
            FILE_NAME,
            LOCAL_NAME,
            FILE_EXT,
            URL,
            VOLUME,
            CREATE_DT
        )
        VALUES
            (
                #{fileBean.fileId},
                #{fileBean.module},
                #{fileBean.fileName},
                #{fileBean.localName},
                #{fileBean.fileExt},
                #{fileBean.url},
                #{fileBean.volume},
                #{fileBean.createDt}
            )
    </insert>

    <!-- 영화 포스터 파일 매핑 인서트 -->
    <insert id="insertMovieFileMap" parameterType="com.example.movieCore.movie.vo.MovVo" >
        INSERT INTO
            MOV_FILE_MAPPING (
                              MOVIE_CD,
                              FILE_ID,
                              ROLE,
                              CREATE_DT
        )
        VALUES
            (
             #{movieBean.movieCd},
             #{fileBean.fileId},
             'POSTER',
             NOW()
            )
    </insert>


</mapper>