<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movieCore.movie.mapperInterface.MovManageMapper">


    <!-- 영화 정보 인서트 -->
    <insert id="insertMovieBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        insert into MOV_MOVIE
            (
             movie_cd,
             movie_nm,
             movie_nm_en,
             prdt_year,
             open_dt,
             type_nm,
             prdt_stat_nm,
             nation_alt,
             genre_alt,
             rep_nation_nm,
             rep_genre_nm,
             people_nm

        )
        VALUES
            (
                #{movieBean.movieCd},
                #{movieBean.movieNm},
                #{movieBean.movieNmEn},
                #{movieBean.prdtYear},
                DATE_FORMAT(#{movieBean.openDt}, '%Y-%m-%d %h:%m:%s'),
                #{movieBean.typeNm},
                #{movieBean.prdtStatNm},
                #{movieBean.nationAlt},
                #{movieBean.genreAlt},
                #{movieBean.repNationNm},
                #{movieBean.repGenreNm},
                #{movieBean.peopleNm}

            )

    </insert>

    <!-- 영화 상세정보 인서트 -->
    <insert id="insertMovieInfoBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        insert into MOV_MOVIE_INFO
        (
            MOVIE_CD,
            MOVIE_NM,
            MOVIE_NM_EN,
            MOVIE_NM_OG,
            PRDT_YEAR,
            SHOW_TM,
            OPEN_DT,
            PRDT_STAT_NM,
            TYPE_NM,
            NATION_NM,
            genre_nm,
            DIRECTOR_NM,
            DIRECTOR_NM_EN,
            ACTORS_NM,
            ACTORS_NM_EN,
            CAST,
            CAST_EN,
            SHOW_TYPE_GROUP_NM,
            SHOW_TYPE_NM,
            AUDIT_NO,
            WATCH_GRADE_NM,
            STAFFS_NM,
            STAFFS_NM_EN,
            STAFFS_ROLE_NM,
            POINT_YN,
            POINT_AVG,
            POINT_TOTAL_CNT,
            TOTAL_VIEW_CNT,
            STATE,
            PREVIEW_URL
        )
        VALUES
            (
                #{movieInfoBean.movieCd},
                #{movieInfoBean.movieNm},
                #{movieInfoBean.movieNmEn},
                #{movieInfoBean.movieNmOg},
                #{movieInfoBean.prdtYear},
                #{movieInfoBean.showTm},
                DATE_FORMAT(#{movieInfoBean.openDt}, '%Y-%m-%d %h:%m:%s'),
                #{movieInfoBean.prdtStatNm},
                #{movieInfoBean.typeNm},
                #{movieInfoBean.nationNm},
                #{movieInfoBean.genreNm},
                #{movieInfoBean.directorNm},
                #{movieInfoBean.directorNmEn},
                #{movieInfoBean.actorsNm},
                #{movieInfoBean.actorsNmEn},
                #{movieInfoBean.cast},
                #{movieInfoBean.castEn},
                #{movieInfoBean.showTypeGroupNm},
                #{movieInfoBean.showTypeNm},
                #{movieInfoBean.auditNo},
                #{movieInfoBean.watchGradeNm},
                #{movieInfoBean.staffsNm},
                #{movieInfoBean.staffsNmEn},
                #{movieInfoBean.staffsRoleNm},
                #{movieInfoBean.pointYn},
                #{movieInfoBean.pointAvg},
                #{movieInfoBean.pointTotalCnt},
                #{movieInfoBean.totalViewCnt},
                #{movieInfoBean.state},
                #{movieInfoBean.previewUrl}
            )



    </insert>


    <!-- 영화 회사 인서트 -->
    <insert id="insertMovieCompanyBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        insert into MOV_COMPANY
        (
         COMPANY_CD,
         COMPANY_NM,
         COMPANY_NM_EN,
         COMPANY_PART_NAMES,
         CEO_NM,
         FILMO_NAMES
            )
        VALUES (
                   #{movieCompanyBean.companyCd},
                   #{movieCompanyBean.companyNm},
                   #{movieCompanyBean.companyNmEn},
                   #{movieCompanyBean.companyPartNames},
                   #{movieCompanyBean.ceoNm},
                   #{movieCompanyBean.filmoNames}
                )

    </insert>






</mapper>