<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movieCore.movie.mapperInterface.MovManageMapper">

    <!-- 영화인 빈 -->
    <resultMap type="com.example.movieCore.movie.bean.MoviePeopleBean" id="moviePeopleBean">
        <result column="people_cd" property="peopleCd" jdbcType="VARCHAR"/>
        <result column="people_nm" property="peopleNm" jdbcType="VARCHAR"/>
        <result column="people_nm_en" property="peopleNmEn" jdbcType="VARCHAR"/>
        <result column="rep_role_nm" property="repRoleNm" jdbcType="VARCHAR"/>
        <result column="filmo_names" property="filmoNames" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 영화 정보 인서트 -->
    <insert id="insertMovieBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        insert into MOV_MOVIE
            (
             movie_cd,
             movie_nm,
             movie_nm_en,
             prdt_year,
             open_dt,
             type_nm,
             prdt_stat_nm,
             nation_alt,
             genre_alt,
             rep_genre_nm,
             people_nm

        )
        VALUES
            (
                #{movieBean.movieCd},
                #{movieBean.movieNm},
                #{movieBean.movieNmEn},
                #{movieBean.prdtYear},
                DATE_FORMAT(#{movieBean.openDt}, '%Y-%m-%d %h:%m:%s'),
                #{movieBean.typeNm},
                #{movieBean.prdtStatNm},
                #{movieBean.nationAlt},
                #{movieBean.genreAlt},
                #{movieBean.repGenreNm},
                #{movieBean.peopleNm}

            )

    </insert>

    <!-- 영화 상세정보 인서트 -->
    <insert id="insertMovieInfoBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        insert into MOV_MOVIE_INFO
        (
            MOVIE_CD,
            MOVIE_NM,
            MOVIE_NM_EN,
            MOVIE_NM_OG,
            PRDT_YEAR,
            SHOW_TM,
            OPEN_DT,
            PRDT_STAT_NM,
            TYPE_NM,
            genre_nm,
            DIRECTOR_NM,
            DIRECTOR_NM_EN,
            ACTORS_NM,
            ACTORS_NM_EN,
            CAST,
            CAST_EN,
            SHOW_TYPE_GROUP_NM,
            SHOW_TYPE_NM,
            AUDIT_NO,
            WATCH_GRADE_NM,
            STAFFS_NM,
            STAFFS_NM_EN,
            STAFFS_ROLE_NM,
            POINT_YN,
            POINT_AVG,
            POINT_TOTAL_CNT,
            TOTAL_VIEW_CNT,
            STATE,
            PREVIEW_URL
        )
        VALUES
            (
                #{movieInfoBean.movieCd},
                #{movieInfoBean.movieNm},
                #{movieInfoBean.movieNmEn},
                #{movieInfoBean.movieNmOg},
                #{movieInfoBean.prdtYear},
                #{movieInfoBean.showTm},
                DATE_FORMAT(#{movieInfoBean.openDt}, '%Y-%m-%d %h:%m:%s'),
                #{movieInfoBean.prdtStatNm},
                #{movieInfoBean.typeNm},
                #{movieInfoBean.genreNm},
                #{movieInfoBean.directorNm},
                #{movieInfoBean.directorNmEn},
                #{movieInfoBean.actorsNm},
                #{movieInfoBean.actorsNmEn},
                #{movieInfoBean.cast},
                #{movieInfoBean.castEn},
                #{movieInfoBean.showTypeGroupNm},
                #{movieInfoBean.showTypeNm},
                #{movieInfoBean.auditNo},
                #{movieInfoBean.watchGradeNm},
                #{movieInfoBean.staffsNm},
                #{movieInfoBean.staffsNmEn},
                #{movieInfoBean.staffsRoleNm},
                #{movieInfoBean.pointYn},
                #{movieInfoBean.pointAvg},
                #{movieInfoBean.pointTotalCnt},
                #{movieInfoBean.totalViewCnt},
                #{movieInfoBean.state},
                #{movieInfoBean.previewUrl}
            )



    </insert>


    <!-- 영화 회사 인서트 -->
    <insert id="insertMovieCompanyBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        insert into MOV_COMPANY
        (
         COMPANY_CD,
         COMPANY_NM,
         COMPANY_NM_EN,
         COMPANY_PART_NAMES,
         CEO_NM,
         FILMO_NAMES
            )
        VALUES (
                   #{movieCompanyBean.companyCd},
                   #{movieCompanyBean.companyNm},
                   #{movieCompanyBean.companyNmEn},
                   #{movieCompanyBean.companyPartNames},
                   #{movieCompanyBean.ceoNm},
                   #{movieCompanyBean.filmoNames}
                )

    </insert>


    <!-- 영화 회사 매핑 인서트 -->
    <insert id="insertMovieCompanyMap" parameterType="com.example.movieCore.movie.vo.MovVo" >
        insert into MOV_COMPANY_MAP
        (
         MOVIE_CD,
         COMPANY_CD
         )
        VALUES (
                   #{movieBean.movieCd},
                   #{movieBean.companyCd}
                )

    </insert>



    <!-- 영화 인 인서트 -->
    <insert id="insertMoviePeopleBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        insert into MOV_PEOPLE
        (
        PEOPLE_CD,
        PEOPLE_NM,
        PEOPLE_NM_EN,
        REP_ROLE_NM,
        FILMO_NAMES
        )
        VALUES (
                   #{moviePeopleBean.peopleCd},
                   #{moviePeopleBean.peopleNm},
                   #{moviePeopleBean.peopleNmEn},
                   #{moviePeopleBean.repRoleNm},
                   #{moviePeopleBean.filmoNames}
                )
    </insert>


    <!-- 영화 인 전체 조회 -->
    <select id="selectMoviePeopleList" parameterType="com.example.movieCore.movie.vo.MovVo" resultMap="moviePeopleBean">
        select
            people_cd,
            people_nm,
            people_nm_en,
            rep_role_nm,
            filmo_names
        from
            MOV_PEOPLE
    </select>


    <!-- 영화 인 상세정보 인서트 -->
    <insert id="insertMoviePeopleInfoBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        insert into MOV_PEOPLE_INFO
            (
                PEOPLE_CD,
                PEOPLE_NM,
                PEOPLE_NM_EN,
                SEX,
                REP_ROLE_NM,
                FILMO_NAMES,
                MOVIE_CD,
                HOMEPAGES
            )
        values
            (
                #{moviePeopleInfoBean.peopleCd},
                #{moviePeopleInfoBean.peopleNm},
                #{moviePeopleInfoBean.peopleNmEn},
                #{moviePeopleInfoBean.sex},
                #{moviePeopleInfoBean.repRoleNm},
                #{moviePeopleInfoBean.filmos},
                #{moviePeopleInfoBean.movieCd},
                #{moviePeopleInfoBean.homepages}

            )
    </insert>



    <!-- 영화 제작국가 인서트 -->
    <insert id="insertMovieNationBean" parameterType="com.example.movieCore.movie.vo.MovVo" >
        insert into MOV_NATION
        (
         NATION_CD,
         kor_nm,
         eng_nm
         )
        values (
                #{movieNationBean.nationCd},
                #{movieNationBean.korNm},
                #{movieNationBean.engNm}
                )
    </insert>



    <!-- 영화 제작국가 이름으로 셀렉트 -->
    <select id="selectMovieNation" parameterType="com.example.movieCore.movie.vo.MovVo" resultType="String">
        select
        (
            NATION_CD
        )
        from
            MOV_NATION
        where KOR_NM = #{movieNationBean.korNm}
    </select>






    <!-- 영화 제작국가 매핑 인서트 -->
    <insert id="insertMovieNationMap" parameterType="com.example.movieCore.movie.vo.MovVo" >
        insert into MOV_NATION_MAP
        (
         NATION_CD,
         MOVIE_CD
         )
        values (
                #{movieNationBean.nationCd},
                #{movieNationBean.movieCd}
                )
    </insert>



    <!-- 영화 회사 코드 실재 확인 -->
    <select id="checkTheCompany" parameterType="com.example.movieCore.movie.vo.MovVo" resultType="integer">
        select count(COMPANY_CD)
        from MOV_COMPANY
        where company_cd =  #{movieBean.companyCd}
    </select>






</mapper>